
<style>
    .merge {
        width: 100%;
        height: 100%
    }
    .merge_file_container {
        padding: 20px;
        /* display:flex; */
    }
    .source {
        /* background: red; */
        margin: 10px;
        overflow: auto;
        height: 450px;
        width: 50%;
    }
    .destination {
        /* background: red; */
        margin: 10px;
        overflow: auto;
        max-height: 300px;
        width: 50%;
    }
    .destination_table {
        width: 100%;
    }
</style>

<div class="merge">

    <br>
    <p>

        <div class="flex">
            <div>
                <i class="bi bi-info-circle"></i>
            </div>
            <div>
                File conflict detected. <br>
                You can merge files by reviewing the list and selecting the appropriate action. <br>
            </div>

        </div>

    </p>

    <input type="button" class="button btn_merge" value="Merge" />
    <br>
    <div class="merge_file_container">
        <div class="merge_done_msg"></div>
        <table class="destination_table">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Source Date</th>
                    <th>Destination Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>

        <div class="destination main"></div>
        <div class="source"></div>

    </div>

    <div>

    </div>

</div>