
<style>
    .merge {
        /* border: 1px solid red  !important; */
        width: 100%;
        height: 98%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 20px; */
        overflow: hidden;
    }
    .merge_file_container {
        padding: 20px;
        overflow: auto;
        width: 95%;
        height: 100%;
    }
    .source {
        /* background: red; */
        margin: 10px;
        overflow: auto;
        height: 450px;
        width: 50%;
    }
    .destination {
        /* background: red; */
        margin: 10px;
        overflow: auto;
        max-height: 300px;
        width: 50%;
    }
    .destination_table {
        width: 100%;
    }
</style>

<div class="merge">

    <br>
    <p>

        <div class="flex">
            <div>
                <i class="bi bi-info-circle"></i>
            </div>
            <div>
                File conflict detected. <br>
                You can merge files by reviewing the list and selecting the appropriate action. <br>
            </div>

        </div>

    </p>

    <input type="button" class="button btn_merge" value="Merge" />
    <br>
    <div class="merge_file_container">
        <div class="merge_done_msg"></div>
        <table class="destination_table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <select class="input merge-action-all">
                            <option value="0">-- Action --</option>
                            <option value="0">Skip All</option>
                            <option value="1">Replace All</option>
                        </select>
                        <br />
                    </th>
                <tr>
                    <th>Destination</th>
                    <th>Source Date</th>
                    <th>Destination Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        <!-- <div class="destination main"></div> -->
        <div class="source"></div>

    </div>

    <div>

    </div>

</div>