
<div class="properties_view">
    <div class="tabs flex hidden">
        <div class="properties-tab active-properties-tab">
            <div class="tab_container flex">
                Basic
            </div>
        </div>
        <div class="properties-tab">
            <div class="tab_container flex">
                Permissions
            </div>
        </div>
    </div>

    <div class="properties_content">

        <!-- <div class="basic properties-tab-content active-properties-tab-content">

        </div> -->

        <!-- <div class="permissions_container"> -->
        <!-- <div class="permissions properties-tab-content"> -->

            <!-- <div class="flex row">
                <div class="td">Owner</div>
                <div class="owner td"></div>
            </div>
            <div class="flex row">
                <div class="td">Access</div>
                <div class="owner_access td">
                    <select class="input owner_select" disabled="disabled">
                        <option value="4">List Files Only</option>
                        <option value="5">Access Files</option>
                        <option value="7">Create and Delete Files</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="flex row">
                <div class="td">Group</div>
                <div class="td group"></div>
            </div>
            <div class="flex row">
                <div class="td">Access</div>
                <div class="td group_access">
                    <select class="input group_select" disabled="disabled">
                        <option value="0">None</option>
                        <option value="4">List Files Only</option>
                        <option value="5">Access Files</option>
                        <option value="7">Create and Delete Files</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="flex row">
                <div class="td">Other</div>
                <div class="td others"></div>
            </div>
            <div class="flex row">
                <div class="td">Access</div>
                <div class="td other_access">
                    <select class="input other_select" disabled="disabled">
                        <option value="0">None</option>
                        <option value="4">List Files Only</option>
                        <option value="5">Access Files</option>
                        <option value="7">Create and Delete Files</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="flex row">
                <div class="td">Execute</div>
                <div>
                    <input type="checkbox" id="chk_execute" class="chk_execute">
                    <label for="chk_execute">Allow executing file as program</label>
                </div>

            </div>
            <br>
            <div class="flex">
                <div>Security Context</div>
                <div class="security_context"></div>
            </div> -->
            <!-- <div> -->
                <!-- <input type="button" class="button" style="width: 250px;" value="Change Permissions for Enclosed Files"> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>


</div>