
<div class="view_container">

    <div class="dashboard_view">

        <div>
            <div class="label">Disk Usage</div>
            <div class="overview grid_view grid3 dashboard_card"></div>
        </div>
        <div>
            <div class="label">Workspace</div>
            <div class="workspace_dashboard_view grid_view grid3 dashboard_card"></div>
        </div>
        <div>
            <div class="label">Recent Files</div>
            <div class="recent_files_view dashboard_card"></div>
        </div>
        <div>
            <div class="label">Recent Folders</div>
            <div class="recent_folders_view dashboard_card"></div>
        </div>
        <!-- <div>
            <div class="label">Devices</div>
            <div class="devices_view dashboard_card"></div>
        </div> -->

    </div>

</div>