
<div class="view_container">

    <div class="dashboard_view">
        <div>
            <div class="label">Overview</div>
            <div class="overview"></div>
        </div>
        <div>
            <div class="label">Recent Folders</div>
            <div class="recent_folders_view"></div>
        </div>
        <div>
            <div class="label">Recent Files</div>
            <div class="recent_files_view"></div>
        </div>
        <div>
            <div class="label">Devices</div>
            <div class="devices_view"></div>
        </div>


    </div>

</div>