html, body {
    background: var(--main);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#confirm_delete {
    color: var(--text);
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 100%;
}

#delete_files {
    border-style: inset;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: var(--dialog);
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    height: 75%;
    overflow: auto;
}

#confirm_delete .header {
    height: 20px;
    padding-top: 15px;
}

#confirm_delete .footer {
    padding-top: 15px;
    padding-bottom: 10px !important;
}

#confirm_delete .button {
    color: var(--text);
    background: var(--button)

}

#confirm_delete .button > .delete {
    color: var(--text);
    background: var(--warning);

}