
#find_div {
    padding: 5px;
}

.search_view label {
    font-size: 10px;
}

.search_view input[type="text"] {
    font-size: 10px;
    display: block;
    color: var(--text);
    background: var(--main);
    border: 1px solid var(--border);
    margin-bottom: 10px;
    height: 16px;
    width: 100%;
}

.search_view input[type="date"] {
    font-size: 10px;
    display: block;
    color: var(--text);
    background: var(--main);
    border: 1px solid var(--border);
    margin-bottom: 10px;
    height: 16px;
    width: 100%;
}

.search_view input[type="radio"] {
    font-size: 10px;
    display: block;
    color: var(--text);
    background: var(--main);
    /* border: 1px solid var(--border); */
    margin-bottom: 10px;
}

.search_view input[type="checkbox"] {
    font-size: 10px;
    display: block;
    color: var(--text);
    background: var(--main);
    /* border: 1px solid var(--border); */
    margin-bottom: 10px;
}