html,
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
}

html,
body {
    background: var(--main);
    color: var(--text);
}

/* Progress input */
progress {
    height: 15px;
    width: 100%;
}

th {
    text-align: left;
}

#header_menu {
    display: flex;
    /* font-weight: bold; */
    background: var(--menu);
    padding: 5px;
    width: 100%;
    z-index: 100;
    height: 24px;
    align-items: center;
}

#header_menu .slider {
    height: 12px;
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
}

#header_menu .item {
    padding-left: 15px;
    padding-right: 15px;
}

.header_menu .active {
    font-weight: bold;
    text-decoration: underline;
    color: var(--active);
}

#header_menu .settings {
    position: relative;
    height: 12px;
}

#header_menu a {
    color: var(--text);
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.header_menu .active .bi {
    color: var(--active);
}

#navigation_menu {
    display: flex;
    background: var(--menu);
    padding: 5px;
    width: 100%;
    align-items: center;
    height: 24px;
}

#navigation_menu input[type=text].location {
    border-radius: 5px;
    color: var(--text);
    padding-left: 10px;
    margin-right: 15px;
    background: var(--location);
    border: 1px solid var(--location-border);
    /* border: inset; */
    font-size: 1em;
    height: 23px;
    width: 96%;
    font-weight: bold;
}

#navigation_menu .disk_space {
    /* border: 1px solid red; */
    display: flex;
}

#navigation_menu .item {
    padding: 5px;
    padding-right: 15px;
    white-space: nowrap;
}

#navigation_menu .item a {
    padding: 5px;
    color: var(--text);
}

/* #main { */
    /* position: relative; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* border: 1px solid red; */
    /* background: var(--main); */
    /* background: linear-gradient(to right, var(--main), var(--menu)); */

    /* border-radius: 5px; */
    /* padding: 10px; */
    /* width: 100%; */
    /* height: 92%; */
    /* flex: 1; */
/* } */

.active-tab-content::-webkit-scrollbar {
    background: var(--input);
    width: 8px;
}

.active-tab-content::-webkit-scrollbar-track {
    background: var(--location);
}

#main a {
    color: var(--text);
}

.active {
    border-radius: 5px;
    /* width: 100%; */
    /* background: var(--lessdark) */
}

.not-writable {
    opacity: 0.9 !important;
    /* background: red !important; */
}

.merge_not_writable {
    opacity: 0.9 !important;
    color: #ff2b2b !important;
    /* background: red !important; */
}

.menubar .active .bi {
    color: var(--orange);
}

.msg {
    color: var(--text);
    background-color: var(--msg);
    border: 1px solid var(--border);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9));
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    user-select: none;
    max-height: 50px;
    overflow-x: auto;
}

.progress_div {
    padding: 10px;
    display: block;
    width: 450px;
    background-color: var(--progress);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9));
    /* border: 1px solid var(--border); */
    border-radius: 10px;
    color: var(--text);
    z-index: 100;
    user-select: none;
}

.progress {
    /* display:block; */
    /* position: fixed; */
    /* bottom: 0; */
    /* margin-bottom: -40px; */
    /* color: var(--text); */
    /* background-color: var(--progress); */
    /* border: 1px solid var(--border); */
    /* filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9)); */
    /* border-radius: 5px; */
    padding: 2px;
    /* width: 450px; */
    /* z-index: 100; */
    /* white-space: nowrap; */
}

.progress_bar {
    columns: var(--green);
    height: 20px;
}

.progress_msg {
    color: var(--text)
}

#quicksearch {
    border-radius: 5px;
    border: 1px solid var(--border);
    background: var(--input);
    padding: 5px;
    height: 14px;
    width: 350px;
    z-index: 100;
    outline: none;
}

#txt_quicksearch {
    color: var(--text);
    background: var(--input);
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
}

/* Dialogs */
.connect {
    background: var(--main);
    color: var(--text);
    padding: 25px;
}

.connect .label {
    display: block;
    margin-bottom: 2px;
}

.connect .input {
    border: none;
    height: 23px;
    background: var(--input);
    color: var(--text);
    display: block;
    margin-bottom: 15px;
    width: 350px;
}

.connect .button {
    background: var(--button);
    color: var(--text);
}

.connect .msg {
    background: var(--main);
    color: var(--warning);
    padding: 5px;
}

.columns {
    padding: 15px;
}

.columns .item {
    padding: 2px;
}

.columns .label {
    color: var(--text);
}

.columns_list {
    background-color: var(--dialog);
    padding: 10px;
    border: 1px solid var(--border);
    height: 100%;
}

.columns input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    border-radius: 5px !important;
}

.menus {
    position: relative;
    height: 56px;
    /* border:1px solid red; */
}

.autocomplete {
    position: absolute;
    top: 60px;
    left: 110px;
    height: 150px;
    min-width: 450px;
    background: var(--main);
    border: 2px solid var(--border);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9));
    z-index: 10000;
    overflow: auto;
    border-radius: 5px;
    display: block;
}

.suggestion {
    display: block;
    padding: 5px;
}

.suggestion:hover {
    background: var(--highlight);
    cursor: pointer;
}

.wrapper {
    overflow: hidden;
    box-sizing: border-box;
    /* border:1px solid green; */
    height: 100% !important;
    background: var(--lessdark);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;

}

.container:focus {
    outline: none;
    border: none;
}

.main {
    /* position: relative; */
    background: var(--main);
    /* background: linear-gradient(to right, var(--main), var(--menu)); */
    border-radius: 5px;
    width: 100%;
    height: 92%;
    border-left: 1px solid var(--border);
    justify-content: space-around;
    z-index: 1;
}

.main:focus {
    outline: none;
    border: none;
}

.split-view {
    width: 500px;
}

#selection-rectangle {
    position: absolute;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 100;
}

.info_view {
    padding: 20px;
}

.info_view .drive {
    padding-top: 5px;
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 5px;
    height: 100px;
}

.tabs {
    background: var(--tabs);
    height: 23px;
    top: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    display: inline-block;
    z-index: 1000;
    box-sizing: border-box;
}

.tab-container {
    border: 1px solid var(--border);
    width: 90%;
    /* background: var(--sidebar); */
    /* width: 500px; */
    /* height: 100%; */
}

.tab {
    padding-top: 2px;
    height: 19px;
    border-radius: 5px 5px 0px 0px;
    background: var(--main);
    color: var(--text);
    border: 1px solid var(--border);
    border-left: 1px solid transparent;
    display: inline-block;
}

.tab .label {
    padding-left: 10px;
    padding-right: 10px;
}

.tab_close {
    text-align: center;
    margin-left: auto;
    right: 0;
}

.tab:hover {
    cursor: pointer;
}

.tab.active-tab {
    color: var(--text);
    border-top: 2px solid var(--blue);
    border-bottom: none;
    filter: drop-shadow(1px 0px 0px rgb(0 0 0 / 0.9));
    font-weight: bold;
}

.tab_container {
    padding: 4px;
    width: 100%;
    height: 20px;
}

.tab_content {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
}

/* Properties Tab */
.tab-header {
    /* padding-right: 10px; */
    position: sticky;
    background: var(--tabs);
    height: 23px;
    top: 0 !important;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    display: inline-block;
    z-index: 1000;
    box-sizing: border-box;
    line-height: 18px;
}

.properties-tab {
    padding-left: 10px;
    padding-right: 10px;
    height: 21px;
    border-radius: 5px 5px 0px 0px;
    background: var(--main);
    color: var(--text);
    border: 1px solid var(--border);
    border-left: 1px solid transparent;
    display: inline-block;
}

.properties-tab:hover {
    cursor: pointer;
}

.properties-tab.active-properties-tab {
    color: var(--text);
    border-top: 2px solid var(--blue);
    border-bottom: none;
    font-weight: bold;
}

.active-tab-content {
    overflow-x: hidden;
    overflow-y: auto;
    /* border:1px solid red !important; */
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 95%;
    width: 100%;
}

/* css is in merge.html */
.merge_file_container {
    /* background-color: var(--dialog); */
    /* border: inset; */
    /* overflow: auto;
    width: 95%;
    height: 100%; */
    /* background: var(--dialog) */
}

.destination_table table {}

.destination_table .destination {
    word-break: break-all;
}

#chart {
    color: var(--text);
    width: '100px';
    height: '100px';
}

.folder_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; */
    width: 100%;
}

.file_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; */
    width: 100%;
}

.hidden_folder_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; if this is turned on then it will drag the entire file grid if the cursor passed over it. */
    width: 100%;
}

.hidden_file_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; */
    width: 100%;
}

.item {
    /* padding-right: 20px; */
}

.card {
    box-sizing: border-box;
    display: flex;
    margin: 2px;
    padding: 2px;
    width: 95%;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: var(--text);
    opacity: 0;
    transition: opacity 0.5s;
}

.card:focus {
    box-sizing: border-box;
    outline: none;
}

.card .img {
    box-sizing: border-box;
    border-radius: 5px;
    /* background:rgba(0, 0, 0, 0.3); */
    border: 2px solid var(--border);
}

.card .img:hover {
    opacity: 0.95;
    border: 0px solid #069;
    /* transform: scale(2); */
    position: relative;
    z-index: 2 !important;
}

.icon {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.7));
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    width: 48px;
    height: 48px;
    padding-right: 5px;
}

.symlink {
    display: block;
    height: 12px;
    position: relative;
    margin-left: 5px;
    margin-top: -20px;
}

.readonly {
    display: block;
    height: 12px;
    position: relative;
    margin-left: 5px;
    margin-top: -20px;
}

.pointer {
    cursor: pointer;
}

.bi {
    /* filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9)); */
}

/* Handle Icon Scaling */
.icon16 {
    height: 16px !important;
    width: 16px !important;
}

.icon24 {
    height: 24px !important;
    width: 24px !important;
}

.icon32 {
    height: 32px !important;
    width: 32px !important;
}

.icon48 {
    height: 48px !important;
    width: 48px !important;
}

.icon64 {
    height: 64px !important;
    width: 64px !important;
}

/* .lazy {
    border: 1px solid var(--orange);
} */

.svg {
    background: var(--svg);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.card .content {
    padding: 1px;
    margin-left: 10px;
    width: 100%;
    /* line-height: 14px; */
}

.card a {
    display: block;
    word-break: break-all;
    color: var(--text);
}

.card a:hover {
    cursor: pointer;
}

.card .icon:hover {
    cursor: pointer;
}

.card .content .header {
    overflow-wrap: break-word;
    padding-right: 10px;
}

.card .content .path {
    overflow-wrap: break-word;
    padding-right: 10px;
}

.card .content .date {
    word-break: none;
}

.card .content .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    /* max-width: 100px; */
}

.list_container {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.list {
    display: flex;
    padding: 2px;
    width: 98%;
}

.list .icon {
    width: 24px;
    height: 24px;
}

.list .item:nth-child(1) {
    /* background-color: red; */
    /* min-width: 350px; */
    min-width: 40%;
}

.list .item {
    flex-grow: 1;
    /* border: 1px solid var(--border); */
    width: 15%;

}

.list .item.size {
    width: 100px;
}

.list .item.count {
    width: 100px;
}

.table {
    table-layout: fixed;
    width: 100%;
    /* border-collapse: collapse; */
}

.table thead {
    position: sticky;
    top: 0;
}

.table thead td {
    font-weight: bold;
    padding-bottom: 5px;
    /* border-bottom: 1px solid var(--border); */
}

.table thead th:nth-child(1) {
    width: 50%;
}

.table thead th {
    width: 20%;
}

.table a {
    width: 100%;
    display: block;
}

.header .input {
    width: 95%;
}

.header.item {
    display: flex;
    align-items: center;
}

.content.list {
    display: flex;
    align-items: center;
}

.header.item a {
    /* font-weight: bold; */
    display: block;
    width: 100%;
    text-decoration: none;
}

.header.item a:focus {
    text-decoration: underline;
    outline: none;
}

.header.item a:hover {
    text-decoration: underline;
}

.header_row {
    box-sizing: border-box;
    top: 0;
    display: flex;
    width: 98%;
    background: var(--main);
    z-index: 100;
    /* padding-left: 4px; */
    /* padding-right: 10px; */
    /* margin-bottom: 15px; */
    border-bottom: 1px solid var(--border);
    height: 24px;
    /* border: 1px solid red; */
}

/* .header_row .item:nth-child(1) {
    width: 50%;
} */

.header_row .item {
    font-weight: bold;
    flex-grow: 1;
    padding: 2px;
    /* border-right: 1px solid #ccc; */
    width: 15%;
}

.header_row .item:hover {
    cursor: pointer;
    /* border: 1px solid green; */
}

.header_row .name {
    /* width: 6%; */
}

.header_row .date {
    margin-left: 10px;
    text-align: left;
}

.header_row .size {
    width: 50px !important;
    /* text-align: right; */
}

.header_row .count {
    width: 50px !important;
    /* text-align: right; */
}

.header_row .items {
    margin-right: 15px;
    /* text-align: right; */
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* margin-top: 25px; */
    /* border:1px solid red; */
}

.grid1 .date {
    /* width: 16%; */
    text-align: left;
}

.grid1 .size {
    width: 50PX !important;
    /* text-align: right; */
}

.grid1 .type {
    /* width: 16%; */
    /* text-align: right; */
}

.grid1 .count {
    width: 50px !important;
    /* text-align: right; */
}

.grid1 .input {
    /* min-width: 400px; */
    /* width: 100%; */
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 75px auto; */
    /* grid-template-rows: auto; */
    /* width: 100%; */
}

.grid2 .iten {
    overflow-wrap: break-word;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.grid5 {
    min-height: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.input {
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    width: 100%;
    padding: 2px;
}

input[type=text]:focus {
    outline: none;
}

.title {
    position: absolute;
    display: block;
    /* top: 0; */
    /* left: 100%; */
    transform: translate(-50%, -50%);
    background-color: var(--black);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.highlight {
    /* box-sizing: border-box; */
    background: linear-gradient(to right, var(--highlight), var(--main));
    /* border: 1px solid var(--green) */
}

.highlight_select {
    border-radius: 5px;
    background: var(--highlight-select);
    user-select: none;
}

.highlight_target {
    /* box-sizing: border-box; */
    /* border: 1px solid var(--orange); */
    border-radius: 5px;
    background: var(--highlight-select);
    box-shadow: 0 0 3px var(--orange);
    /* transition: background-color 0.1s ease-in-out; */
}

.dragging {
    /* background-color: red; */
    /* width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
    user-select: none; */
}

.empty_msg {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

.ds-selected {
    background: var(--highlight-select);
}

.drag_select {
    /* border: 1px solid var(--grey); */
    background: rgb(0 0 0 / 0.4)
}

.hidden {
    display: none !important;
}

.bi {
    padding-right: 10px;
}

.bottom {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    /* margin-bottom: 5px; */
    /* display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0; */
    /* width: 100%; */
}

.float.right {
    float: right;
    padding: 5px;
}

.flex {
    display: flex;
}

/* for some reason this configuration works */
.bottom .left {
    left: -50%;
    right: auto;
}

.right {
    margin-left: auto;
    /* margin-right: 0px; */
    right: 0;
}

.warning {
    font-weight: bold;
}

.error {
    color: var(--warning) !important;
}

.button {
    /* background-color: var(--button); */
    /* color: var(--text); */
    width: 120px;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:active {
    /* background-color: var(--button-active); */
}

.button:hover {
    /* background-color: var(--button-active); */
}

.button.warning {
    color: var(--white);
    background: var(--warning);
}

.context-menu-icon {
    width: 8px;
    height: 8px;
}

.border {
    border: 1px solid var(--border)
}

/* Style for the tooltip */
.tooltip {
    border: 1px solid var(--border);
    border-radius: 5px;
    line-height: 18px;
    padding: 10px;
    /* width: 400px; */
    /* background: rgba(0, 0, 0, .8); */
    background: var(--dialog);
    position: fixed;
    display: block;
    z-index: 1000;
}

.loader {
    cursor: wait;
}

.loader img {
    width: 48px;
    height: 48px;
}

/* .sticky {
    position: fixed;
    top: 0;
} */

.bold {
    font-weight: bold;
}

.tab-buttons {
    list-style: none;
    padding: 0;
}

.tab-buttons li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.tab-content {
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
    padding: 10px;
}

/* .t {
    border: 1px solid var(--border);
    border-collapse: collapse;
    width: 100%;
}

.h {
    grid-template-columns: 450px 1fr 1fr 1fr 1fr;
    font-weight: bold;
    min-height: 23px;
    padding: 5px;
    width: 100%;
}

.b {
    grid-template-columns: 450px 1fr 1fr 1fr 1fr;
    padding: 5px;
    width: 100%;
} */

.basic {
    /* padding-right: 20px; */
}

.basic .content {
    line-height: 24px;
    ;
}

.permissions {
    padding-top: 30px;
}

.permissions .row {
    display: table-row;
}

.permissions .td {
    display: table-cell;
    padding: 2px;
}

.permissions .td:first-child {
    width: 50px;
}

.inactive {
    color: var(--inactive) !important;
}

.sticky {
    /* position: sticky; */
    /* top: 23px; */
    /* width: 80%; */
    z-index: 10000;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

/* Laptop Desktop */
@media only screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1440px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --menu: #303134;
        --sidebar: #262626;
        --input: #484848;
        --main: #2c2c2c;
        --minibar: #222222;
        --border: #333333;
        --msg: #222222;
        --dialog: #262626;
        --text: #C0C0C0;
        --active: #ffffff;
        --inactive: #484848;
        --tabs: #292929;
        --button: #484848;
        --button-active: #1b557c;
        --location: #2c2c2c;
        --location-border: #3b3a3a;
        /* --progress: rgba(44, 44, 44, .75); */
        --progress: #2c2c2c;

        --svg: rgba(155, 155, 155, .9);

        --link: #4183c4;
        --highlight: #364864;
        --highlight-select: #364864;

        --not-writable: #cfcfcf;

        --black: #000000;
        --white: #FFFFFF;
        --warning: #FFA500;
        --green: #008000;
        --blue: #233654;
        --lightblue: #506585;
        --yellow: #FFFF00;
        --orange: #FFA500;

        --grey: #505050;

        --light: #C0C0C0;
        --lighter: #cfcfcf;
        --lightest: #cacaca;

        --blur: blur(5px);
        --brightness: brightness(0.8);
        --contrast: contrast(1.2);

    }
}

@media (prefers-color-scheme: light) {
    :root {
        --menu: #f7f7f7;
        --sidebar: #f7f7f7;
        --input: #f0f0f0;
        --main: #f7f7f7;
        --minibar: #ffffff;
        --border: #dcdcdc;
        --msg: #f7f7f7;
        --dialog: #dcdcdc;
        --text: #333333;
        --active: #333333;
        --tabs: #ffffff;
        --button: #dcdcdc;
        --location: #f0f0f0;
        --location-border: #dcdcdc;
        --progress: #f7f7f7;

        --link: #4183c4;
        --highlight: rgba(0, 0, 0, 0.1);
        --highlight-select: rgba(0, 0, 0, 0.1);

        --black: #000000;
        --white: #FFFFFF;
        --warning: #960000;
        --green: #008000;
        --blue: #233654;
        --lightblue: #506585;
        --yellow: #FFFF00;
        --orange: #FFA500;

        --grey: #707070;
        --light: #e6e6e6;
        --lighter: #dcdcdc;
        --lightest: #f0f0f0;
    }
}

/* @media (prefers-color-scheme: light) {
    :root {
        --menu: #f7f7f7;
        --sidebar: #f7f7f7;
        --input: #e8e8e8;
        --main: #f7f7f7;
        --minibar: #ffffff;
        --border: #cfcfcf;
        --msg: #f7f7f7;
        --dialog: #cfcfcf;
        --text: #252525;
        --active: #252525;
        --tabs: #ffffff;
        --button: #cfcfcf;
        --location: #e8e8e8;
        --location-border: #cfcfcf;
        --progress: #f7f7f7;

        --link: #4183c4;
        --highlight: rgba(0, 0, 0, 0.1);
        --highlight-select: rgba(0, 0, 0, 0.1);

        --black: #000000;
        --white: #FFFFFF;
        --warning: #960000;
        --green: #008000;
        --blue: #233654;
        --lightblue: #506585;
        --yellow: #FFFF00;
        --orange: #FFA500;

        --grey: #505050;
        --light: #2c2c2c;
        --lighter: #cfcfcf;
        --lightest: #cacaca;
    }
} */