html, body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    background: var(--main);
    color: var(--text);
}

th {
    text-align: left;
}

#header_menu {
    display: flex;
    background: var(--menu);
    padding: 5px;
    width: 100%;
    /* height: 16px; */
}

#header_menu .slider {
    height: 12px;
}

#header_menu .item {
    padding-left: 15px;
    padding-right: 15px;
}

.header_menu .active {
    font-weight: bold;
    color: var(--active);
}

#header_menu .settings {
    position: relative;
    height: 12px;
}

#header_menu a {
    color: var(--text);
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.header_menu .active .bi {
    color: var(--active);
}

#navigation_menu {
    display: flex;
    background: var(--menu);
    padding: 5px;
    width: 100%;
    /* height: 16px; */
}

#navigation_menu input[type=text] {
    border-radius: 5px;
    border: none;
    color: var(--text);
    background: var(--input);
    border: 1px solid var(--border);
    font-size: 12px;
    height: 18px;
    width: 100%;
}

#navigation_menu .disk_space {
    /* border: 1px solid red; */
    display: flex;
}

#navigation_menu .item {
    padding: 5px;
    padding-right: 15px;
    white-space: nowrap;
}

#navigation_menu .item a {
    padding: 5px;
    color: var(--text);
}

#main {
    position: relative;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* border: 1px solid red; */
    background: var(--main);
    border-radius: 5px;
    /* padding: 10px; */
    width: 100%;
    height: 92%;
    /* flex: 1; */
}

#main::-webkit-scrollbar {
    background: var(--lessdark);
    width: 0px;
}

#main::-webkit-scrollbar-track {
    background: var(--lessdark);
}

#main a {
    color: var(--text);
}



.active {
    border-radius: 5px;
    /* width: 100%; */
    /* background: var(--lessdark) */
}

.not-writable {
    opacity: 0.4 !important;
    /* background: red !important; */
}

.menubar .active .bi {
    color: var(--orange);
}

.msg {
    color: var(--text);
    background-color: var(--dialog);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}

#progress {
    color: var(--text);
    background-color: var(--dialog);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    width: 450px;
    z-index: 100;
    white-space: nowrap;
}

#progress_bar {
    height: 12px;
}

#progress_msg {
    color: #cfcfcf;
}

#quicksearch {
    border-radius: 5px;
    border: 1px solid var(--border);
    background: var(--input);
    padding: 5px;
    height: 14px;
    width: 350px;
    z-index: 100;
    outline: none;
}

#txt_quicksearch {
    color: var(--text);
    background: var(--input);
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
}

/* Dialogs */
.connect {
    background: var(--main);
    color: var(--text);
    padding: 25px;
}

.connect .label {
    display:block;
    margin-bottom: 2px;
}

.connect .input {
    border: none;
    height: 23px;
    background: var(--input);
    color: var(--text);
    display: block;
    margin-bottom: 15px;
    width: 350px;
}

.connect .button {
    background: var(--button);
    color: var(--text);
}

.connect .msg {
    background: var(--main);
    color: var(--warning);
    padding: 5px;
}

.menus {
    position: relative;
    height: 56px;
    /* border:1px solid red; */
}

.autocomplete {
    position:fixed;
    height: 150px;
    min-width: 350px;
    background: var(--dialog);
    border:1px solid var(--border);
    z-index: 10000;
    overflow: auto;
    border-radius: 5px;
}

.suggestion {
    display: block;
    padding: 5px;
}

.suggestion:hover {
    background: var(--highlight);
    cursor: pointer;
}

.wrapper {
    overflow: hidden;
    box-sizing: border-box;
    /* border:1px solid green; */
    height: 100% !important;
    background:var(--lessdark);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;

}

.container:focus {
    outline: none;
    border: none;
}

.main {
    border-left: 1px solid var(--border);
    justify-content: space-around;
}

.main:focus {
    outline: none;
    border: none;
}

#selection-rectangle {
    position: absolute;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 100;
}

.info_view {
    padding: 20px;
}

.info_view .drive {
    padding-top: 5px;
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 5px;
    height: 100px;
}

.tabs {
    background: var(--tabs);
    height: 23px;
    top: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    display: inline-block;
    z-index: 1000;
    box-sizing: border-box;
}

.tab-container {
    border: 1px solid var(--border);
    width: 90%;
    /* background: var(--sidebar); */
    /* width: 500px; */
    /* height: 100%; */
}

.tab {
    height:21px;
    border-radius: 5px 5px 0px 0px;
    background: var(--main);
    color: var(--text);
    border: 1px solid var(--border);
    border-left: 1px solid transparent;
    display: inline-block;
}

.tab .label {
    padding-left: 5px;
}

.tab_close {
    text-align: center;
    margin-left: auto;
    right: 0;
}

.tab:hover {
    cursor: pointer;
}

.tab.active-tab {
    color: var(--text);
    border-top: 2px solid var(--blue);
    border-bottom: none;
    font-weight: bold;
}

.tab_container {
    padding:4px;
    width: 100%;
    height: 20px;
}

.tab_content {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
}

/* Properties Tab */
.tab-header {
    /* padding-right: 10px; */
    background: var(--tabs);
    height: 23px;
    top: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    display: inline-block;
    z-index: 1000;
    box-sizing: border-box;
    line-height: 18px;
}

.properties-tab {
    padding-left: 10px;
    padding-right: 10px;
    height:21px;
    border-radius: 5px 5px 0px 0px;
    background: var(--main);
    color: var(--text);
    border: 1px solid var(--border);
    border-left: 1px solid transparent;
    display: inline-block;
}

.properties-tab:hover {
    cursor: pointer;
}

.properties-tab.active-properties-tab {
    color: var(--text);
    border-top: 2px solid var(--blue);
    border-bottom: none;
    font-weight: bold;
}

.active_tab_content {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.merge_file_container {
    /* background-color: var(--dialog); */
    /* border: inset; */
    /* overflow: auto; */
    width: 95%;
    /* height: 90%; */
    /* background: var(--dialog) */
}



#chart {
    color: var(--text);
    width: '100px';
    height: '100px';
}

progress {
    height: 20px;
    width: 100%;
}

progress::-webkit-progress-value {
    background-color: #007acc;
}
progress::-webkit-progress-bar {
    background-color: #e6e6e6;
}

.folder_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; */
    width: 100%;
}
.file_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; */
    width: 100%;
}

.hidden_folder_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; if this is turned on then it will drag the entire file grid if the cursor passed over it. */
    width: 100%;
}
.hidden_file_grid {
    /* box-sizing: border-box; */
    /* padding: 5px; */
    width: 100%;
}

.item {
    /* padding-right: 20px; */
}

.card {
    box-sizing: border-box;
    display: flex;
    margin: 2px;
    padding: 2px;
    width: 95%;
    border-radius: 5px;
    border:none;
    background: transparent;
    color: var(--text);
    opacity: 0;
    transition: opacity 0.5s;
}

.card:focus {
    box-sizing: border-box;
    outline: none;
}

.card .img {
    box-sizing: border-box;
    border-radius: 5px;
    /* background:rgba(0, 0, 0, 0.3); */
    border: 2px solid var(--border);
}

.card .img:hover {
    opacity: 0.95;
    border: 0px solid #069;
    /* transform: scale(2); */
    position:relative;
    z-index: 2 !important;
}

.icon {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    width: 48px;
    height: 48px;
    padding-right: 5px;
}

.symlink {
    display: block;
    height: 12px;
    position: relative;
    margin-top: -15px;
}

.pointer {
    cursor: pointer;
}

.bi {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9));
}

/* Handle Icon Scaling */
.icon16 {
    height: 16px !important;
    width: 16px !important;
}
.icon24 {
    height: 24px !important;
    width: 24px !important;
}
.icon32 {
    height: 32px !important;
    width: 32px !important;
}

.icon48 {
    height: 48px !important;
    width: 48px !important;
}
.icon64 {
    height: 64px !important;
    width: 64px !important;
}

/* .lazy {
    border: 1px solid var(--orange);
} */

.svg {
    background: var(--svg);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.card .content{
    padding: 1px;
    margin-left: 10px;
    width: 100%;
    /* line-height: 14px; */
}

.card a {
    display: block;
    word-break: break-all;
    color: var(--text);
}
.card a:hover {
    cursor: pointer;
}
.card .icon:hover {
    cursor: pointer;
}
.card .content .date {
    word-break: none;
}
.card .content .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    /* max-width: 100px; */
}

.list_container {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    padding: 2px;
    width: 98%;
}

.list .icon {
    width: 16px;
    height: 16px;
}

.list .item:nth-child(1) {
    width: 50%;
}

.list .item {
    flex-grow: 1;
    /* border: 1px solid #ccc; */
    width: 15%;
}

.header .input {
    width: 95%;
}

.header_row {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    background: var(--main);
    z-index: 100;
    /* padding: 4px; */
    border-bottom: 1px solid var(--border);
    /* height: 20px; */
    /* border: 1px solid red; */
}

.header_row .item:nth-child(1) {
    width: 50%;
}

.header_row .item {
    font-weight: bold;
    flex-grow: 1;
    padding: 2px;
    /* border-right: 1px solid #ccc; */
    width: 15%;
}

.header_row .item:hover {
    cursor: pointer;
    /* border: 1px solid green; */
}

.header_row .name {
    /* width: 6%; */
}

.header_row .date {
    margin-left: 10px;
    text-align: left;
}

.header_row .size {
    text-align: right;
}

.header_row .items {
    margin-right: 15px;
    text-align: right;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* margin-top: 25px; */
    /* border:1px solid red; */
}

.grid1 .date {
    /* width: 16%; */
    text-align: left;
}

.grid1 .size {
    /* width: 16%; */
    text-align: right;
}

.grid1 .type {
    /* width: 16%; */
    text-align: right;
}

.grid1 .count {
    /* width: 16%; */
    text-align: right;
}

.grid1 .input {
    /* min-width: 400px; */
    /* width: 100%; */
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 75px auto; */
    /* grid-template-rows: auto; */
    /* width: 100%; */
}

.grid2 .iten {
    overflow-wrap: break-word;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.grid5 {
    min-height: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.input {
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    width: 100%;
    padding: 2px;
}

input[type=text]:focus {
    outline: none;
}

.title {
    position:absolute;
    display: block;
    /* top: 0; */
    /* left: 100%; */
    transform: translate(-50%, -50%);
    background-color: var(--black);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.highlight {
    background: var(--highlight);
}

.highlight_select {
    border-radius: 5px;
    background: var(--highlight-select);
    user-select: none;
}

.highlight_target {
    box-sizing: border-box;
    /* border: 1px solid var(--orange); */
    border-radius: 5px;
    background: var(--highlight-select);
}

.dragging {
    /* background-color: red; */
    /* width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
    user-select: none; */
}

.empty_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 24px;
    font-weight: bold;
}

.ds-selected {
    background: var(--highlight-select);
}

.drag_select {
    /* border: 1px solid var(--grey); */
    background: rgb(0 0 0 / 0.4)
}

.hidden {
    display: none !important;
}

.bi {
    padding-right: 10px;
}

.bottom {
    position: fixed;
    bottom: 0px;
    /* margin-bottom: 5px; */
}

.float.right {
    float:right;
    padding: 5px;
}

.flex {
    display: flex;
}

/* for some reason this configuration works */
.bottom .left {
    left: -50%;
    right: auto;
}
.right  {
    margin-left: auto;
    /* margin-right: 25px; */
    /* right: 25px; */
}

.warning {
    font-weight: bold;
}

.error {
    color: var(--warning) !important;
}

.button {
    /* background-color: var(--button); */
    /* color: var(--text); */
    width: 120px;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:active {
    /* background-color: var(--button-active); */
}

.button:hover {
    /* background-color: var(--button-active); */
}

.button.warning {
    color: var(--white);
    background: var(--warning);
}

.context-menu-icon {
    width: 8px;
    height: 8px;
}

.border {
    border: 1px solid var(--border)
}

/* Style for the tooltip */
.tooltip {
    border: 1px solid var(--border);
    border-radius: 5px;
    line-height: 18px;
    padding: 10px;
    /* width: 400px; */
    /* background: rgba(0, 0, 0, .8); */
    background: var(--dialog);
    position: fixed;
    display: block;
    z-index: 1000;
}

.loader {
    cursor: wait;
}

.loader img {
    width: 48px;
    height: 48px;
}

.sticky {
    position: sticky;
    top: 0;
}

.bold {
    font-weight: bold;
}

.tab-buttons {
    list-style: none;
    padding: 0;
}

.tab-buttons li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.tab-content {
    /* border: 1px solid gray; */
    padding: 10px;
}

.basic {
    /* padding-right: 20px; */
}

.basic .content {
    line-height: 24px;;
}

.permissions {
    padding-top:30px;
}

.permissions .row {
    display: table-row;
}

.permissions .td {
    display: table-cell;
    padding: 2px;
}

.permissions .td:first-child {
    width: 50px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

/* Laptop Desktop */
@media only screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1440px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --menu: #303134;
        --sidebar: #262626;
        --input: #484848;
        --main: #2c2c2c;
        --minibar: #222222;
        --border: #333333;
        --msg: #222222;
        --dialog: #262626;
        --text: #C0C0C0;
        --active: #ffffff;
        --tabs: #292929;
        --button: #484848;
        --button-active: #1b557c ;

        --svg: rgba(155, 155, 155, 0.7);

        --link: #4183c4;
        --highlight: #364864;
        --highlight-select: #364864;

        --not-writable: #cfcfcf;

        --black: #000000;
        --white: #FFFFFF;
        --warning: #FFA500;
        --green: #008000;
        --blue: #233654;
        --lightblue: #506585;
        --yellow: #FFFF00;
        --orange: #FFA500;

        /* --highlight-select: #334c74; */
        /* --highlight: rgba(0, 128, 255, 0.213); */
        /* --highlight: linear-gradient(to right, #505050, #252525); */

        --grey: #505050;

        --light: #C0C0C0;
        --lighter: #cfcfcf;
        --lightest: #cacaca;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --menu: #f7f7f7;
        --sidebar: #f7f7f7;
        --input: #efefef;
        --main: #f7f7f7;
        --minibar: #ffffff;
        --border: #cfcfcf;
        --msg: #222222;
        --dialog: #cfcfcf;
        --text: #252525;
        --active: #252525;
        --tabs: #ffffff;
        --button: #cfcfcf;

        --link: #4183c4;
        --highlight: rgba(0, 0, 0, 0.1);
        --highlight-select: rgba(0, 0, 0, 0.1);

        --black: #000000;
        --white: #FFFFFF;
        --warning: #960000;
        --green: #008000;
        --blue: #233654;
        --lightblue: #506585;
        --yellow: #FFFF00;
        --orange: #FFA500;

        --grey: #505050;
        --light: #2c2c2c;
        --lighter: #cfcfcf;
        --lightest: #cacaca;
    }
}
