html, body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* @media (prefers-color-scheme: dark) { */

    html, body {
        background: var(--dark);
        color: var(--light);
    }

    #header_menu {
        display: flex;
        background: var(--menu);
        padding: 5px;
        width: 100%;
        /* height: 16px; */
    }

    #header_menu .slider {
        height: 12px;
    }

    #header_menu .item {
        padding-left: 15px;
        padding-right: 15px;
    }

    #header_menu .settings {
        position: relative;
        height: 12px;
    }

    #header_menu a {
        color: var(--light);
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }

    .header_menu .active .bi {
        color: var(--white);
    }

    #navigation_menu {
        display: flex;
        background: var(--menu);
        padding: 5px;
        width: 100%;
        /* height: 16px; */
    }

    #navigation_menu input[type=text] {
        border-radius: 5px;
        border: none;
        color: #cfcfcf;
        background: var(--input);
        font-size: 12px;
        height: 18px;
        width: 100%;
    }

    #navigation_menu .disk_space {
        /* border: 1px solid red; */
        display: flex;
    }

    #navigation_menu .item {
        padding: 5px;
        padding-right: 15px;
        white-space: nowrap;
    }

    #navigation_menu .item a {
        padding: 5px;
        color: #cfcfcf;
    }

    #main {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        /* border: 1px solid red; */
        background: var(--main);
        border-radius: 5px;
        /* padding: 10px; */
        width: 100%;
        height: 92%;
        /* flex: 1; */
    }

    #main::-webkit-scrollbar {
        background: var(--lessdark);
        width: 0px;
    }

    #main::-webkit-scrollbar-track {
        background: var(--lessdark);
    }

    #main a {
        color: var(--white);
    }

    .active {
        border-radius: 5px;
        /* width: 100%; */
        /* background: var(--lessdark) */
    }

    .menubar .active .bi {
        color: var(--orange);
    }

    .msg {
        color: var(--orange);
        background-color: var(--msg);
        border-radius: 5px;
        padding: 10px;
        z-index: 100;
    }

    #progress {
        color: #cfcfcf;
        background-color: rgb(0 0 0 / 0.8);
        border-radius: 5px;
        padding: 5px;
        width: 450px;
        z-index: 100;
        white-space: nowrap;
    }

    #progress_bar {
        height: 12px;
    }

    #progress_msg {
        color: #cfcfcf;
    }

    #quicksearch {
        border-radius: 5px;
        border: 1px solid var(--moredark);
        background: var(--dark);
        padding: 5px;
        height: 14px;
        width: 350px;
        z-index: 100;
        outline: none;
    }

    #txt_quicksearch {
        border-radius: 5px;
        width: 100%;
        font-size: 12px;
    }

    /* Dialogs */
    .connect {
        background: var(--main);
        color: var(--light);
        padding: 25px;
    }

    .connect > .label {
        display:block;
        margin-bottom: 2px;
    }

    .connect > .input {
        border: none;
        height: 23px;
        background: var(--input);
        color: var(--white);
        display: block;
        margin-bottom: 15px;
        width: 350px;
    }

    .connect > .msg {
        color: #ff0000;
        padding: 5px;
    }

    #confirm {
        padding: 40px;
    }

    #confirm .header {
        font-weight: bold;
    }

/* } */

/*
@media (prefers-color-scheme: light) {

    html, body {
        background: var(--dark);
        color: var(--light);
    }

    #header_menu {
        display: flex;
        background: var(--lightest);
        columns: var(--dark);
        padding: 5px;
        width: 100%;
    }

    #header_menu .item {
        padding-left: 15px;
        padding-right: 15px;
    }

    #header_menu .settings {
        position: relative;
        height: 12px;
    }

    #header_menu a {
        color: var(--dark);
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }

    #navigation_menu {
        display: flex;
        background: var(--lightest);
        padding: 5px;
        width: 100%;
    }

    #navigation_menu input[type=text] {
        border-radius: 5px;
        border: none;
        color: var(--dark);
        background: var(--white);
        font-size: 12px;
        height: 18px;
        width: 98%;
    }

    #navigation_menu .item {
        padding: 5px;
    }

    #navigation_menu .item a {
        padding: 5px;
        color: var(--dark);
    }

    .container {
        position: relative;
        display: flex;
        width: 100%;
        height: 92%;
    }

    #main {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        background: var(--white);
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }

    .card .content {
        color:var(--dark);
    }

    .card .content a {
        color:var(--dark);
    }

    .active {
        border-radius: 5px;
        background: var(--lighter)
    }

    #msg {
        color: #cfcfcf;
        background-color: var(--dark);
        border-radius: 5px;
        padding: 10px;
        z-index: 100;
    }

    #progress {
        color: #cfcfcf;
        background-color: rgb(0 0 0 / 0.8);
        border-radius: 5px;
        padding: 5px;
        width: 350px;
        z-index: 100;
    }

    #progress_bar {
        height: 12px;
    }

    #progress_msg {
        color: #cfcfcf;
    }

    #quicksearch {
        border-radius: 5px;
        border: 1px solid var(--moredark);
        background: var(--dark);
        padding: 5px;
        height: 14px;
        width: 350px;
        z-index: 100;
        outline: none;
    }

    #txt_quicksearch {
        border-radius: 5px;
        width: 100%;
        font-size: 12px;
    }

    .connect {
        background: var(--dark);
        color: var(--light);
        padding: 25px;
    }

    .connect > .label {
        display:block;
        margin-bottom: 2px;
    }

    .connect > .input {
        border: none;
        height: 23px;
        background: var(--lessdark);
        color: var(--white);
        display: block;
        margin-bottom: 15px;
        width: 350px;
    }

    .connect > .msg {
        color: #ff0000;
        padding: 5px;
    }

    #confirm {
        padding: 40px;
    }

    #confirm .header {
        font-weight: bold;
    }

} */

.menus {
    position: relative;
    height: 56px;
    /* border:1px solid red; */
}

.wrapper {
    overflow: hidden;
    box-sizing: border-box;
    /* border:1px solid green; */
    height: 100% !important;
    background:var(--lessdark);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;

}

.container:focus {
    outline: none;
    border: none;
}

.main {
    border-left: 1px solid var(--border);
}

.main:focus {
    outline: none;
    border: none;
}

.info_view {
    padding: 20px;
}

.info_view .drive {
    padding-top: 5px;
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 5px;
    height: 100px;
}

.tabs {
    background: var(--main);
    height: 23px;
    top: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    display: inline-block;
    z-index: 1000;
}

.tab {
    /* margin: 0; */
    border-radius: 5px 5px 0px 0px;
    background: var(--main);
    color: var(--orange);
    border: 1px solid var(--border);
    border-left: 1px solid transparent;
    /* border-bottom: 1px solid transparent; */
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.tab:hover {

    cursor: pointer;
}

.tab.active-tab {
    border-top: 2px solid var(--blue);
    border-bottom: none;
}

.tab_content {
    padding: 5px;
    /* overflow: auto; */
}

#chart {
    color: var(--light);
    width: '100px';
    height: '100px';
}

progress {
    height: 20px;
    width: 100%;
}

progress::-webkit-progress-value {
    background-color: #007acc;
}
progress::-webkit-progress-bar {
    background-color: #e6e6e6;
}

.folder_grid {
    padding: 5px;
    width: 100%;
}
.file_grid {
    padding: 5px;
    width: 100%;
}

.hidden_folder_grid {
    padding: 5px;
    width: 100%;
}
.hidden_file_grid {
    padding: 5px;
    width: 100%;
}

.item {
    /* padding-right: 20px; */
}

.card {
    display: flex;
    margin: 2px;
    padding: 2px;
    width: 90%;
    border-radius: 5px;
    border:none;
    background: transparent;
    color: #cfcfcf;
    opacity: 0;
    transition: opacity 0.5s;
}

.card .img {
    box-sizing: border-box;
    border-radius: 5px;
    /* background:rgba(0, 0, 0, 0.3); */
    border: 2px solid var(--border);
}

.card .img:hover {
    opacity: 0.95;
    border: 0px solid #069;
    /* transform: scale(2); */
    position:relative;
    z-index: 2 !important;
  }

.icon {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    width: 48px;
    height: 48px;
}

.pointer {
    cursor: pointer;
}

.bi {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.9));
}

/* Handle Icon Scaling */
.icon16 {
    height: 16px !important;
    width: 16px !important;
}
.icon24 {
    height: 24px !important;
    width: 24px !important;
}
.icon32 {
    height: 32px !important;
    width: 32px !important;
}

.icon48 {
    height: 48px !important;
    width: 48px !important;
}
.icon64 {
    height: 64px !important;
    width: 64px !important;
}

/* .lazy {
    border: 1px solid var(--orange);
} */

.svg {
    background:rgba(250, 250, 250, .9);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.card .content{
    padding: 1px;
    margin-left: 10px;
    width: 100%;
    /* line-height: 14px; */
}

.card:hover {
    /* background: #334c74; */
    /* background: var(--highlight) */
}

.card a {
    display: block;
    word-break: break-all;
    color: white;
}
.card a:hover {
    cursor: pointer;
}
.card .icon:hover {
    cursor: pointer;
}
.card .content .date {
    word-break: none;
}
.card .content .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    /* max-width: 100px; */
}

.list_container {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    padding: 2px;
    width: 98%;
}

.list .icon {
    width: 16px;
    height: 16px;
}

.list .item:nth-child(1) {
    width: 50%;
}

.list .item {
    flex-grow: 1;
    /* border: 1px solid #ccc; */
    width: 15%;
}

.header_row {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    background: var(--main);
    z-index: 100;
    /* padding: 4px; */
    border-bottom: 1px solid var(--border);
    /* height: 20px; */
    /* border: 1px solid red; */
}

.header_row .item:nth-child(1) {
    width: 50%;
}

.header_row .item {
    font-weight: bold;
    flex-grow: 1;
    padding: 2px;
    /* border-right: 1px solid #ccc; */
    width: 15%;
}

.header_row .item:hover {
    cursor: pointer;
    /* border: 1px solid green; */
}

.header_row .name {
    /* width: 6%; */
}

.header_row .date {
    margin-left: 10px;
    text-align: left;
}

.header_row .size {
    text-align: right;
}

.header_row .items {
    margin-right: 15px;
    text-align: right;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* margin-top: 25px; */
    /* border:1px solid red; */
}

.grid1 .date {
    /* width: 16%; */
    text-align: left;
}

.grid1 .size {
    /* width: 16%; */
    text-align: right;
}

.grid1 .type {
    /* width: 16%; */
    text-align: right;
}

.grid1 .count {
    /* width: 16%; */
    text-align: right;
}

.grid1 .input {
    /* min-width: 400px; */
    /* width: 100%; */
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 75px auto; */
    /* grid-template-rows: auto; */
    /* width: 100%; */
}

.grid2 .iten {
    overflow-wrap: break-word;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.input {
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    width: 100%;
    padding: 2px;
}

input[type=text]:focus {
    outline: none;
}

.title {
    position:absolute;
    display: block;
    /* top: 0; */
    /* left: 100%; */
    transform: translate(-50%, -50%);
    background-color: var(--black);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.highlight {
    background: #334c74;
}

.highlight_select {
    border-radius: 5px;
    background: #334c74;
}

.highlight_target {
    box-sizing: border-box;
    /* border: 1px solid var(--orange); */
    border-radius: 5px;
    background: #334c74;
}

.ds-selected {
    background: #334c74;
}

.drag_select {
    /* border: 1px solid var(--grey); */
    background: rgb(0 0 0 / 0.4)
}

.hidden {
    display: none !important;
}

.bi {
    padding-right: 10px;
}

.bottom {
    position: fixed;
    bottom: 5px;
    margin-bottom: 5px;
}

.float.right {
    float:right;
    padding: 5px;
}

/* for some reason this configuration works */
.bottom .left {
    left: -50%;
    right: auto;
}
.right  {
    margin-left: auto;
    /* margin-right: 25px; */
    /* right: 25px; */
}

.warning {
    font-weight: bold;
}

.error {
    color: var(--warning) !important;
}

.button {
    width: 120px;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button.warning {
    color: var(--white);
    background: var(--warning);
}

.context-menu-icon {
    width: 8px;
    height: 8px;
}

/* Style for the tooltip */
.tooltip {
    border: 1px solid var(--grey);
    border-radius: 5px;
    line-height: 18px;
    padding: 10px;
    width: 200px;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    display: block;
    z-index: 100;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader img {
    width: 48px;
    height: 48px;
}

.sticky {
    position: sticky;
    top: 0;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

/* Laptop Desctop */
@media only screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1440px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }
}

:root {
    --menu: #303134;
    --sidebar: #262626;
    --input: #484848;
    --main: #2c2c2c;
    --minibar: #222222;
    --border: #484848;
    --msg: #222222;
    --dialog: #262626;

    /* --dark: #252525; */
    /* --moredark: #222222; */
    /* --lessdark: #2f2f2f; */
    --black: #000000;
    --white: #FFFFFF;
    --warning: #960000;
    --green: #008000;
    --blue: #233654;
    --lightblue: #506585;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --link: #4183c4;
    --highlight: #334c74;

    --grey: #505050;

    --light: #C0C0C0;
    --lighter: #cfcfcf;
    --lightest: #cacaca;

}


