html, body {
    background: var(--lessdark);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#confirm {
    color: #cfcfcf;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 40px;
    width: 100%;
}

.search {
    padding: 10px;
}

.search input {
    width: 100%;
}

#list {
    overflow: auto;
    overflow-x: hidden;
    border-style: inset;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    background: var(--moredark);
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    height: 80%;
}

#list .item {
    /* display: flex; */
    padding: 2px;
    width: 100%;
}

#list .item:hover {
    background: var(--blue);
}

#confirm_delete .header {
    height: 20px;
    padding-top: 15px;
}

#confirm_delete .footer {
    padding-top: 15px;
    padding-bottom: 10px !important;
}

