
hr {
    border: 1px solid var(--border)
}

.settings_container {
    padding: 20px;
}

.settings_view input {
    display: block;
    color: var(--text);
    background: var(--main);
    border: 1px solid var(--border);
    margin-bottom: 10px;
    width: 350px;
}

.settings_view select {
    display: block;
    color: var(--text);
    background: var(--main);
    border: 1px solid var(--border);
    margin-bottom: 10px;
    width: 350px;
}

.settings_view .settings_item {
    /* margin-left: 20px; */
}

.settings_view fieldset {
    height: 150px;
}

label {
    font-weight: bold;
}