
@media (prefers-color-scheme: dark) {

    #sidebar {
        outline: none;
        width: 0;
        position: fixed;
        z-index: 0 !important;
        left: 0px;
        background-color: #222222 !important;
        color: #f7f7f7 !important;
        /* top: 40px; */
        height:100%;
        padding-top: 6px;
        padding-left: 6px;
        margin-left: 40px;
        /* min-width: 200px; */
        overflow: scroll;
        scroll-behavior: smooth;
        /* scrollbar-width: 2px !important; */
        /* scrollbar-width: thin; */
    }

    #sidebar .title {
        color: #cfcfcf !important;
    }

    #sidebar a {
        color: rgb(65, 131, 196, 0.8) !important;
    }

    #sidebar_items .header {
        /* background-color: #3a3a3a; */
        font-size: 1.1em;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 4px;

    }

    #sidebar_items .item {
        width: 100%;
        padding: 4px;
    }

    #sidebar_items .item:hover {

        /* width: 100%; */

        background-color: #425261;
        border-radius: 5px;
        cursor: pointer;

    }

    /* #sidebar_items .icon { */
        /* height: 23px; */
        /* width: 23px; */
    /* } */

    #sidebar_items .icon:hover {
        cursor: pointer;
    }

    #sidebar_items .nav_header {
        font-size: 1.1em;
        display: inline-block;
    }

    #sidebar_items .item .nav_header a {
        display: inline-block;
    }

    #sidebar #workspace {
        font-size: 0.8em;
    }

    #sidebar_items .item a {
        /* display: inline-block; */
        color: #cfcfcf !important;
    }

    #sidebar_items .eject {
        position: absolute;
        right: 0px;
        border-radius: 5px;
        height: 23px;
        width: 23px;
        background: rgba(0, 0, 0, 0.5);
        padding: 2px !important;
    }

    #sidebar_items .tree_item a {
        display: inline-block;
    }

    #sidebar_items input {
        /* width: 100%; */
        height: 20px;
        background-color: #454545;
        color: #cfcfcf;
    }

    #sidebar_items label {
        font-size: 1em !important;
    }

    #sidebar_items hr {
        border-color: #3a3a3a !important;
    }

    /* Find labels */
    #find_div .label {
        font-weight: normal !important;
        color: #069 !important;
    }

    /* Find input */
    .find_input {
        height:20px !important; width: 100% !important;
    }


    #find_div .label {
        font-weight: normal !important;
        color: #cfcfcf !important;
    }

    #minibar {
        margin-left: -4px;
        padding: 8px;
        width: 38px;
        float:left;
        background-color: #222222;
        height:110%
    }

    #minibar .item {
        width: 23px;
        height: 23px;
        color: #464646 !important;
    }

    #minibar .item:hover {
        color: #cfcfcf !important;
        cursor: pointer;
    }

    #sb_find_input {
        color: #cfcfcf;
        background:rgba(0, 0, 0, 0.75)
    }

    #file_properties {
        width: 100% !important;
        /* border: 1px solid black; */
    }

    #file_properties .ui.table {
        width: 100% !important;
        /* border: 1px solid black; */
    }

    .ui.accordion .title:not(.ui) {
        color:#f7f7f7 !important;
    }

    aside.sidebar-left .draghandle {
        background-color: #222222;
    }

}

@media (prefers-color-scheme: light) {

    #sidebar {
        border-right: 1px solid #cfcfcf !important;
        outline: none;
        width: 0;
        position: fixed;
        z-index: 0 !important;
        left: 0px;
        background-color: #f7f7f7 !important;
        color: #cfcfcf !important;
        height:100%;
        padding-top:10px;
        padding-left: 12px;
        margin-left: 40px;
        min-width: 200px;
        overflow: scroll;
        scroll-behavior: smooth;
    }

    #sidebar_items .header {
        background: transparent !important;
    }

    /* Find labels */
    #find_div .label {
        font-weight: normal !important;
        color: #069 !important;
    }

    /* Find input */
    .find_input {
        height:20px !important;
        width: 100% !important;
    }


    #find_div .label {
        font-weight: normal !important;
        color: #cfcfcf !important;
    }

    #minibar {
        margin-left: -4px;
        padding: 10px;
        width: 48px;
        float:left;
        background-color: #cfcfcf;
        height:110%
    }

    #file_properties .ui.table {
        width: 100% !important;
    }

    .ui.accordion .title {
        color:#000000 !important;
    }

    #sidebar .title {
        /* color: #2f2f2f !important; */
        font-weight: normal !important;
    }

    #sidebar a {
        color: #2f2f2f !important;
        font-weight: normal !important;
    }

    #sidebar_items .header {
        background-color: #cfcfcf;
        border-radius: 4px;
        padding: 4px;

    }

    #sidebar_items .nav_header {
        display: inline-block;
    }

    #sidebar_items .item {
        padding: 8px;
    }

    #sidebar_items .item:hover {

        /* width: 100%; */

        background-color: #cfcfcf !important;
        border-radius: 5px;
        cursor: pointer;

    }

    #workspace_grid a {
        color: #4183c4 !important;
        font-weight: bold !important;
    }


}

#sidebar .ui.accordion .content {
    background-color: transparent !important;
}

#sidebar .ui.accordion .title {
    /* background-color: transparent !important; */
}

#sidebar::-webkit-scrollbar {
    width: 0px !important;
    height:100% !important;
    background: #2c2c2c;
    color: #2c2c2c;
}

::-webkit-scrollbar-track {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}


#sidebar .ui.card
{
  /* background:#252525 !important; */
  box-shadow: none !important;
}

#sidebar .header {
    /* margin-left:15px !important; */
    /* margin-top: 2px !important; */
}

  /* .ui.accordion .title:not(.ui) {

      color:#f7f7f7 !important;
  } */

  aside.sidebar#resizable {
    height: 100% !important;
    /* min-width: 0px; */
  }

  @media (min-width: 768px) {
      .wrapper .sidebar {
      /* top: 0; */
    }
  }


  aside.sidebar-left#resizable {
    height: 100vh;
    min-height: 1080px;
    min-width: 280px;
  }

  @media (min-width: 768px) {
    .wrapper .sidebar-left {
      /* top: 0; */
    }
  }

  @media (min-width: 1200px) {
    aside.sidebar-left {
      width: 250px;
    }
  }

  aside.sidebar-left {
    width: 250px;
    /* top: 0; */
    float: left;
    /* box-shadow: -5px 0 0 #f7f7f7 inset; */
    z-index: 1000;
  }

  aside.sidebar-left .draghandle {
    position: absolute;
    z-index: 100;
    width: 4px;
    /* height:200% !important; */
    top: 0;
    right: 0;
    cursor: col-resize;
    float: right;
    /* background-color: #222222; */
  }

  .draghandle:hover {
      background-color: #3794ff !important;
  }

  aside.sidebar-left .sidebar-logo img {
    max-width: 200px;
    padding-right: 5px;
    vertical-align: middle;
    border-style: none;
  }



  .wrapper {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow: hidden;
    padding-top: 0;
  }

  .wrapper #main {
    margin-left: 25%;
  }

  @media (min-width: 992px) {
    .wrapper #main {
        margin-left: 260px;
    }
  }

  .mt-wrapper {
    position: relative;
    z-index: 1;
  }

.description {
    color: #ffffff !important;
    font-weight: bold !important;
}


.title {
    /* font-size:12px !important; */
    color: #ffffff !important;
    font-weight: bold !important;
}


