
.sidebar {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: var(--sidebar);
    color: var(--text);
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    width: 300px;
}

.sidebar .header {
    color: var(--lightblue);
    font-weight: bold;
    font-size: 12px;
}

.sidebar .item {
    position: relative;
    white-space: nowrap;
    color: var(--text);
    /* font-weight: bold; */
    padding: 6px;
    cursor: pointer;
}

.sidebar .item:hover {
    background: var(--highlight);
    border-radius: 5px;;
    text-decoration: underline;
}

.sidebar a {
    color: var(--text);
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: none;
}

.sb_view {
    /* background: #3794ff; */
    margin-top: 5px;
    height: 100%;
}

.sb_view .item.active {
    background: var(--highlight)
}

.properties_view {
    /* background: var(--dialog); */
    /* border:1px solid var(--border); */
    border-radius: 5px;
    padding: 10px;
    /* overflow: auto; */
    /* height: 250px; */
    margin: 20px;
}

.properties_view .tab {
    padding-right: 10px;
}

.properties {
    width: 100%;
    border-radius: 5px;
    /* background: var(--dialog); */
    /* border-top: 1px solid var(--border); */
    margin-bottom: 10px;
    /* padding: 10px; */
    box-sizing: border-box;
    line-height: 18px;
    /* grid-template-columns: repeat(2, 1fr); */
}

.properties .content {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.properties .item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.properties .item:first-child {
    /* width: 20px; */
}

.scrollbar {
    width: 0.5px;
    background: var(--lessdark);
}

.draghandle {
    overflow: hidden;
    z-index: 100;
    width: 4px;
    height:100%;
    /* right: 0;
    bottom: 0; */
    cursor: col-resize;
    float: right;
}

.draghandle:hover {
    background-color: #3794ff !important;
}

.minibar {
    margin-left: -4px;
    padding: 8px;
    width: 24px;
    float:left;
    background-color: var(--minibar);
    color: var(--text);
    border-right: 1px solid var(--border);
    height:100%
}

#minibar .bi {
    font-size: 18px;
    padding: 5px;
}

#minibar .item.active {
    background: none;
    font-weight: bolder;
    color: var(--text);
}

#minibar .item  {
    color: var(--grey);
    cursor: pointer;
    padding-bottom: 15px;
}

.search_view {
    height: 100%;
}

.search_view .input {
    background: var(--input);
    color: var(--text);
    height: 16px;
    margin-top: 5px;
    border:1px solid var(--border);
    /* border: 1px solid var(--light) */
}

.search_results {
    margin-top: 10px;
    overflow: auto;
    height: 100%;
}

/* Styles for the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-left: 1px solid var(--lightblue);
    background: rgba(25, 25, 25, 0.2);
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--input);
}

.search_results .icon16 {
    padding-right: 10px;
}

.search_results .item {
    display: flex;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search.input {
    width: 95%;
}

.workspace.active {
    box-sizing: border-box;
    border: 1px solid var(--highlight);
    background: var(--border)
}

.workspace_item {
    text-overflow: ellipsis;
    font-weight: normal;
    overflow: hidden;
    width: 100%;
    display: block;
    padding-left: 5px;
}

