
#sidebar {
    outline: none;
    width: 0;
    position: fixed;
    z-index: 0 !important;
    left: 0px;
    background-color: #222222 !important;
    color: #f7f7f7 !important;
    top: 110px;
    height:100%;
    padding-top:10px;
    padding-left: 12px;
    min-width: 200px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin !important;
}

#sidebar .ui.accordion .content {
    background-color: transparent !important;
}

#sidebar .ui.accordion .title {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    /* height: 12px; */
    width: 5px;
    /* background: #cfcfcf; */
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}


#main_view {

    position: relative;
    outline: none;
    border: none;
    margin-top: 160px;
    margin-bottom: 150px;
    margin-right: 0px;
    height: 100%;
    margin-left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 40px;
    z-index: 0;
}

#main_view:hover {
  border:none !important;
}

#sidebar .header{
    margin-left:15px !important;
    margin-top: 2px !important;
}

  .ui.accordion .title:not(.ui) {

      color:#f7f7f7 !important;
  }

  aside.sidebar#resizable {
    height: 100% !important;
    /* min-width: 0px; */
  }

  @media (min-width: 768px) {
      .wrapper .sidebar {
      /* top: 0; */
    }
  }


  aside.sidebar-left#resizable {
    height: 100vh;
    min-height: 1080px;
    min-width: 280px;
  }

  @media (min-width: 768px) {
    .wrapper .sidebar-left {
      /* top: 0; */
    }
  }

  @media (min-width: 1200px) {
    aside.sidebar-left {
      width: 250px;
    }
  }

  aside.sidebar-left {
    width: 250px;
    /* top: 0; */
    float: left;
    /* box-shadow: -5px 0 0 #f7f7f7 inset; */
    z-index: 1000;
  }

  aside.sidebar-left .draghandle {
    position: absolute;
    z-index: 100;
    width: 4px;
    /* min-height: 100%; */
    /* height: auto !important; */
    height:1000% !important;
    top: 0;
    right: 0;
    cursor: col-resize;
    float: right;
    background-color: #222222;
  }

  .draghandle:hover {
      background-color: #3794ff !important;
  }

  aside.sidebar-left .sidebar-logo img {
    max-width: 200px;
    padding-right: 5px;
    vertical-align: middle;
    border-style: none;
  }

  .wrapper {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow: hidden;
    padding-top: 0;
  }

  .wrapper #main {
    margin-left: 25%;
  }

  @media (min-width: 992px) {
    .wrapper #main {
        margin-left: 260px;
    }
  }

  .mt-wrapper {
    position: relative;
    z-index: 1;
  }



  /* .drag_bar {
    width: 1px;
    position: fixed;
    z-index: 2;
    height:100%;
    left:255px;

    background-color:#d1d1d1 !important;
  } */

  /* .drag_bar:hover {
    cursor:col-resize;
  } */


/* #tree_grid {
    height:500px !important
} */

.description {
    color: #ffffff !important;
    font-weight: bold !important;
}


.title {
    /* font-size:12px !important; */
    color: #ffffff !important;
    font-weight: bold !important;
}


  /* The navigation menu links */
  /* .sidebar1 a {
    padding: 4px 4px 4px 4px;
    text-decoration: none; */
    /* font-size: 10px; */
    /* color: #818181;
    display: block; */
    /* transition: 0.3s; */
  /* } */

  /* When you mouse over the navigation links, change their color */
  /* .sidebar1 a:hover {
    color: #000000;
  } */

  /* Position and style the close button (top right corner) */
  /* .sidebar1 .closebtn { */
    /* position: absolute; */
    /* top: 0; */
    /* right: 5px; */
    /* font-size: 36px;/ */
    /* margin-left: 50px; */
  /* } */

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /* #main { */
    /* transition: margin-left .1s; */
    /* padding: 0px; */
  /* } */



  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) { */
    /* .sidebar1 {padding-top: 10px;} */
    /* .sidebar1 a {font-size: 5px;} */
  /* } */