

body {
  padding-left: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif !important;
  height:100%;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {

    body {

        /* background-color: #252525; */
        background-color: #2c2c2c;
        background-repeat: no-repeat;
        background-size: cover;
        color: #cfcfcf;
        padding-bottom: 20px;
        height:100% !important;
        overflow: hidden !important;
    }

    html {
        /* height:100%; */
    }

    label {
      color:#cfcfcf !important;
    }

    #header_menu {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }

    #header_menu .item {
        -webkit-app-region: no-drag;
    }


    #navigation_menu {
        font-size: 1em !important;
        border: none !important;
        /* display: none; */
    }


    #breadcrumb_items {
        border: 1px solid #000000;
        background-color: #252525;
    }


    #breadcrumb_items .item:hover {
        background-color: #425261;
        border-radius: 5px;;
    }


    #chart {
        width: '100px';
        height: '100px';
    }


    .ui.menu {
        font-size: 10px !important;
        color:#ffffff !important;
        background:#3a3a3a !important
    }

    .active {
        background-color: #444444 !important;
    }

    .item {
        color:#ffffff !important;
    }

    /* .title {
        padding-top:20px;
    } */

    /* .tree_item {
        margin-top: 15px !important;
        margin-left: 15px !important;
    } */

    .tree_subicon {
        /* margin-top:2px !important; */
        /* margin-left: 25px !important; */
        /* background-image: url("../icons/korla-pgrey/places/scalable/gnome-folder.svg"); */
        /* width:22px;
        height: 22px; */
        float:left;
    }


    .workspace_icon {
        width: 22px !important;
        height: 22px !important;
    }

    /* #workspace_content .ui.card {
        background: transparent !important;
    } */

    /* .input:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 140, 255);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 140, 255);
    } */


    /* .tree_icon {
        background-image: url("../icons/korla/places/scalable/gnome-folder.svg");
        width:18px;
        height: 18px;
        float:left;
    } */


    .list {
        color:#ffffff !important;
    }

    .header {
        color:#ffffff !important;
    }

    .ui.modal>.header {

        color:#ffffff !important;
        background-color: #343a40 !important;

    }

    .ui.modal>.content {
        color:#ffffff !important;
        background-color: #343a40 !important;
    }


    .ui.card .description {
        font-weight: normal !important;
    }

    .ui.card .extra {
        font-weight: normal !important;
    }
    .ui.card a {
        font-weight: normal !important;
    }

    .ui.card {
        background: #2c2c2c !important;
        box-shadow: none !important;
    }

    .ui.card:first-child {
        margin-top: 5px;
    }

    .ui.card .highlight {
        /* background:rgba(255, 255, 255, 0.2) !important; */
        background:#425261 !important;
        /* border-color: #000000; */
        /* color: #ffffff !important; */
    }

    .ui.card .highlight_select {

        background:#425261 !important;
        /* opacity: .1 */
    }

    .drag_select {
        /* border: 1px solid #cfcfcf !important; */
        border: none !important;
        background: rgba(155, 155, 155, 0.1) !important;
    }

    /* DRAG SELECT */
    .ui.card .ds-selected {
        background:#425261 !important;
    }


    /* #selected_files_list {
        background-color: #000;
        color:#ffffff;
        border:none;
    } */

    .description {
        color:#ffffff !important;
    }

    .extra {
        color:#ffffff !important;
    }

    .stats
    {
        /* background:transparent !important; */
        background-color: blacks;
        color:#ffffff
    }

    #tree_results_card {
    background-color: #3a3a3a !important;
    }

    #files_card#folders_card { border:1px solid #444444; /* height: auto; overflow: auto; */ }

    #info {
        background-color: rgba(0, 0, 0, 1) !important;
    }

    .inlinesearch {
        margin: auto !important;
        /* margin-right: auto; */
        position:fixed;
        bottom: 0px;
        width: 300px;
    }

    /* Find */
    /* #find_div {
        top: 60px; font-size:12px; background:rgba(40,40,40,1); padding:10px; position:fixed; right:0; height:100%; width:300px; z-index: 1000 !important;
    } */

    /* #find_options {
        background-color:rgba(40,40,40,0.95) !important; position: absolute; top: 35px; width: 100%;
    } */

    #find_div .label {
        font-weight: normal !important;
        color: #cfcfcf !important;
    }

    /* .find_input {
        height:20px !important; width: 100% !important; background-color:#252525 !important; color: #cfcfcf !important;
    } */

    .active {
        border-radius: 4px;
    }

    #file_properties .ui.table {

        color: #cfcfcf;

    }


}


@media (prefers-color-scheme: light) {

    body {
        background-color: #fff !important;
        background-repeat: no-repeat;
        background-size: cover;
        color: #000000 !important;
        padding-bottom: 20px;
        height:100% !important;
        overflow:hidden !important;
    }

    html {
        /* height:100%; */
    }

    label {
      color:#000000 !important;
    }

    #info {
        background-color: rgba(0, 0, 0, 0.1);
    }

    #header_menu {
        background-color: #cfcfcf !important;
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }

    #header_menu .items {
        -webkit-app-region: no-drag;
        border: none !important;
    }

    #header_menu .item {
        -webkit-app-region: no-drag;
        border: none !important;
    }

    #file_menu {
        background-color: #ebebeb !important;
        border: none !important;
    }

    #navigation_menu {
        background-color: #ebebeb !important;
        border: none !important;
    }

    .ui.menu {
        font-size: 10px !important;
    }

    .ui.menu.item {
        font-size: .75em;
        color:#cfcfcf !important;
        background:#3a3a3a !important;
        border: none !important;
    }

    .ui.menu .item::before {
        border: none !important;
    }

    .ui.icon.menu .item {
        height: auto;
        text-align: center;
        color: #1b1c1d;
        border: none !important;
    }

    .active {
        background-color:#cfcfcf !important;
    }

    /* .item {
        color:#000000 !important;
        border: none !important;
    } */

    .button {
        border: none !important;
    }

    /* .title {
        padding-top:20px;
    } */



    .tree_subicon {
        margin-top:2px;
        margin-left: 10px;
        background-image: url("../icons/korla-pgrey/places/scalable/gnome-folder.svg");
        width:22px;
        height: 22px;
        float:left;
    }



    /* .tree_icon {
        background-image: url("../icons/korla/places/scalable/gnome-folder.svg");
        width:18px;
        height: 18px;
        float:left;
    } */


    .list {
        color:#000000 !important;
    }

    .header {
        color:#000000 !important;
    }

    .ui.card
    {
        background:transparent !important;
        box-shadow: none !important;
        /* border:1px solid #444444; */
        /* height: auto;
        overflow: auto; */
    }

    .ui.card:first-child {
        margin-top: 5px;
    }

    .ui.card .highlight {

        background-color:rgba(0, 0, 0, 0.1) !important;
        /* background:#425261 !important; */
        /* border-color: #000000; */
        /* color: #ffffff !important; */
    }

    .ui.card .highlight_select {

        background-color:rgba(0, 0, 0, 0.1) !important;
        /* opacity: .1 */
    }

    /* #selected_files_list {
        background-color: #000;
        color:#ffffff;
        border:none;
    } */

    .ui.card .description {
        font-weight: normal !important;
        color:#000000 !important;
    }

    .extra {
        color:#000000 !important;
    }

    .stats
    {
        /* background:transparent !important; */
        /* background-color: blacks; */
        color:#000000
    }


    #tree_results_card {
        background-color: #3a3a3a !important;
    }


    #files_card#folders_card { border:1px solid #444444; /* height: auto; overflow: auto; */ }

    .inlinesearch {
      margin: auto !important;
      /* margin-right: auto; */
      position:fixed;
      bottom: 0px;
      width: 300px;
    }

    input[type="text"] .search {
        height: 20px;
    }

    /* DRAG SELECT */
    .ui.card .ds-selected {
        background:#cfcfcf !important;
    }

}




/* GLOBALS */

#header_menus {
  /* background:red !important;
  height:60px !important; */
}

#file_menu {
    box-shadow: none !important;
    /* margin:0px !important; */
    padding:5px;
    /* top:5px; */
    z-index: 3;
}

#navigation_menu {
    /* box-shadow: none !important; */
    /* margin:0px !important; */
    top: 38px !important;
    height:24px;
    padding: 5px;
    z-index: 2;
}

#feedback { font-size: 1.4em; }


#main_view .ui-selecting {
    right:2px;
    background: #252525;
}
/* #main_view .ui-selecting {border:1px solid white !important} */
/* #main_view .ui-selected { background: #F39814; color: white; } */
/* #main_view { list-style-type: none; margin: 0; padding: 0; width: 60%; } */
/* #main_view li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; } */

#list_view .grid {
    /* margin:0px; */
    /* padding:5px; */
    /* background:#000000; */
    /* height:100% !important; */
    /* overflow: auto; */
}

#progress_div{
    background:rgba(0,0,0,.075);
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 210px;
    /* top: 50%; */
    /* left: 50%; */
    z-index: 1000;
}

progress::-moz-progress-bar { background: blue; }
progress::-webkit-progress-value { background: blue; }
progress { color: blue; }


#progress {
    width: 200px;
}


body[data-theme="dark"] {

    background-color: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff
}

#info {

    position:fixed;
    margin-right: 0px;
    font-size: 16px;
    /* right: 0; */
    bottom:0px;
    height:30px;
    width: auto !important;
    padding:5px;
    /* background-color: rgba(0, 0, 0, .75) !important; */

}


.block{
  display:block;
}

.content {
  padding: 5px;
}

img:hover {
    /* box-shadow: 2px 2px 2px #000000 !important; */
    /* box-shadow: 10px 10px 5px #000000;
    -moz-box-shadow: 0px 10px 5px rgb(255, 0, 0) !important;
    -webkit-box-shadow: 0px 10px 5px rgb(255, 0, 0) !important; */
}

/* .card * {pointer-events: none;} */

.pushable{
  background:white !important;
}

.ui .shadow {
  box-shadow: 0 .1rem .1rem #000000 !important
}

.content .dark {
  background-color:#222222 !important;
  color:#ffffff !important;
}

body .ui.card .none{
  box-shadow: none !important;
  padding: 2px;
}

.ui.items>.item>.content>.description{
    margin-top:1px !important;
}

.ui.items>.item .extra{
    margin-top:1px !important;
}

.ui.card:last-child {
  padding: 1px !important;
  /* padding-bottom:5px !important; */
}

.ui.card .folder_card,
.ui.card .file_card {
  padding-left: 5px;
  /* background-color: transparent !important; */
}

.card .content {
  padding-left: 1px !important;
}

.card.shadow{
  box-shadow: 10px 10px 5px grey;
}

.nav-item {
  /* padding-bottom:20px !important; */
}

.nav_item:hover {

}

.column {
  padding-top: 0px !important;
  margin-top: 0px !important;
  /* margin-bottom: 1px !important; */
}

a {
    display:block;
    text-decoration: none !important;
    font-weight: normal !important;
}

.ui.table thead tr:first-child > th {
    color: #cfcfcf;
    background:#2c2c2c;
    position: sticky !important;
    top: 0;
    z-index: 2;
}


.border-white {
    border: 1px solid wheat;
}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }


#footer{
  padding-left:15px;
  position:fixed;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, .75);
  border: 1px solid #222222 !important;
  color: #ffffff;
  /* text-align:center; */
  bottom:0px;
  left: 0px;
  right: auto;
}


.ui.grid {
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -7rem;
}


.img:hover {
  opacity: 0.95;
  border: 1px solid #069;
  width: 200px;
  transform: scale(4);
  position:relative;
  z-index: 2 !important;
}

.img {

    height: 32px !important;
    width: 32px !important;
    border:2px solid #000000 !important;
    background:#000000 !important;
}

.image {

    height: 32px !important;
    width: 32px !important;
    /* border:2px solid #000000 !important; */
    /* background:#000000 !important; */
}

embed {
    overflow: hidden;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;


}

.image:hover{
    cursor: pointer;
}


#main_view .ui.grid>.column:not(.row){
  padding-bottom: 0px;
}

/* .ui.card {
  padding-bottom: 25px;
} */

#notice {
  padding-left:10px;
  padding-top:5px;
  text-align: center;
  vertical-align: middle;
  background-color: #000000;
  color:#ffffff;
  opacity: 0.95;
  position: fixed;
  bottom: 0;
  right: 0;

  width:100%;
  height: 30px;

  font-size: 14px;

}


#notification {
    /* position: fixed; */
    /* color:white; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -100px;  */
    /* margin-left: -250px; */
    /* display: block; */
    padding:5px;
    /* height: 60px; */
    /* position: fixed; */
    /* bottom:0%;
    width:50%;
    background-color: #000;
    opacity: 0.8;
    z-index: 100000; */



    margin-bottom:15px;

}

/* progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #069;
} */

#breadcrumbs {

    font-size:      1em;
    font-weight:    normal !important;
    border:         none !important;

}

#breadcrumbs:focus {
    -moz-outline-style: none;
}

#breadcrumb_items {

    position:   fixed;
    margin-top: 4px;
    min-width:  400px;
    max-height: 400px;
    overflow:   auto;
    cursor:     pointer;

}

/* #find input[type="text"] { */
    /* position:fixed; */
    /* background-color: #000000; */
    /* height: 24px !important; */
    /* width: 200px !important; */
    /* top: 80px; */
    /* right: 0; */
    /* font-size: 12px; */
    /* font-weight: bold !important; */
/* } */


#files_card
#folders_card
{
  border:1px solid #473e3e;
  /* height: auto;
  overflow: auto; */
}

body[data-theme='dark'] .table {
  color:#cfcfcf;
}

body[data-theme='dark'] .table td {
  border-top:1px solid #343a40;
}

body[data-theme='dark'] .table th {
  background:transparent;
  border:none;
}

body[data-theme='dark'] .nav-tabs .nav-link.active {
  /* background-image: linear-gradient(#2196F3,#222222); */
background: #222222;;
  color:#f8f9fa;
}

body[data-theme='dark'] .nav-tabs .nav-item {
  background: #222222;
  border:1px solid #000000;
}

body[data-theme='dark'] .nav-tabs {
  border:none;
}

body[data-theme='dark'] .dataTables_filter input {
  background:  #343a40;
}

body[data-theme='dark'] .bg-light  {
  background:  #343a40 !important;
}

body[data-theme='dark']
.highlight
{

  background:rgba(255, 255, 255, 0.2) !important;
  color: #000000

}

body[data-theme='dark']
.highlight_select
{

  background:rgba(255, 255, 255, 0.2) !important;
  color: #000000

}

.icon {
  margin-right: 5px !important
}

.row {
    padding: .6em !important;
}

/* .row:hover {
    background:#069;
} */

/* .row a:hover {
    color: #ffffff;
} */

/* img {
  width:48px !important;
} */


body[data-theme='dark'] .list-group-item {
  background:  #343a40;
  color:whitesmoke !important;
}

/*
body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.582);
  text-align: left;
  background-color: #13242c;
} */

.menu {
  position:relative;
}

.ui.menu.submenu {
  /* background:#e4e6e8 !important;
  border: none !important; */
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-right: 0px !important;
}


.size-alert {
    /* background-color:#343a40 */
    /* background-color:#555555 !important; */
    color: #ff0000;
    /* background-color: #fff3cd;
    border-color: #ffeeba; */
}

button .button .link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  /* cursor: pointer; */
}





/* input[type=text], input[type=date],  textarea, .dd {

    width: 100% !important;
    height: 24px !important;
    border-radius:4px !important;
    outline: none !important;
    -moz-outline-style: none !important;

} */

.form {
  /* position:fixed !important; */
  background-color: rgba(0, 0, 0, .25);
  width: 250px !important;
  z-index: 2
}

h5 {
  /* font-size: 14px; */
}

#main_view {

    /* background-image: url('../backgrounds/bg1.jpg'); */
    background-size: 100% 100%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    position: relative;
    outline: none;
    border: none;
    margin-bottom: 150px;
    margin-right: 0px;
    height: 100%;
    margin-left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom: 40px;
    z-index: 0;
}

#main_view:hover {
  border:none !important;
}


#info_view {
    margin-right: 110px !important;
    margin-top: 20px;
}

#folders_card {
    background-color: transparent !important;
}

#files_card {
    background-color: transparent !important;
}

.card:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

input[type=text], input[type=date],  textarea, .dd {
    width: 100% !important;
    height: 20px;
    border-radius: 4px;
    /* color:#cfcfcf; */
    /* background:#425261 !important; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 140, 255);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 140, 255); */
}

input:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.border {
  border:1px solid black;
}

.border-none {
    border: none !important
}

.background-transparent-light {
  color:#ffffff;
  background: rgba(0, 0, 0, .25);
}
.background-transparent-dark {
  color:#ffffff;
  background: rgba(0, 0, 0, .75);
}

.background-transparent, .navbar.background-transparent {
  color:#ffffff;
  background: rgba(0, 0, 0, .9);
}
.background-transparent a:link, .background-transparent a:visited, .background-transparent.nav-link {
  color:#ffffff;
  backgrxxound: rgba(0, 0, 0, .0);
}

.no-wrap {
  white-space: nowrap !important;
}


.stackable.column {
  padding:1px !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float:right !important;
}

.round {
  /* -webkit-border-radius: .25rem; */
  /* -moz-border-radius: .25rem; */
  border-radius: 5px !important;
}

/* .bold {
  font-weight:bold;
} */

a:link, .bold {
  font-weight: bold !important;

}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display:none !important;
}

.invisible {
  display:invisible;
  /* height:1.1em */
}

.completed {
  /* text-decoration: line-through;
  color: darkgray; */
  color: #ffffff;
  background-color: #425261;
  border:1px solid #cfcfcf;
}

.border-none {
  border:none !important;
}

/* LIST VIEW HIGHLIGHT */
.highlight {
    background:#425261 !important;
}

.highlight_select {
    background:#425261 !important;
}

.copy {
  /* cursor: copy !important; */
}

/* FIX HIGHLIGHT */
.hf {
  border: 1px solid transparent;
  box-sizing: border-box !important;
  padding-top:2px;
  padding-bottom: 2px;
}

/* * {
  box-sizing: border-box;
} */

.btn-sm {
  /* font-size: 12px !important; */
}

/* bootrap overrides */
.navbar {
  padding: .5rem 1rem;
}

.container {
  padding-top: 50px !important;
  height: 100% !important;
}

/* .container-fluid {
  margin-top:20px;
} */

.ctl {
  border:none;
  border-bottom:1px solid #bbbbbb;
  outline: none;
}

textarea {
  /* min-width:100%; */
  min-height:auto;
  resize:none !important;
  overflow:hidden;
}

.list-group-item {
  /* background: 1px solid white; */
}

.block {
  padding:2px;
  display:block;
}

.form-control-sm:focus {
  /* background-color: #efefef; */
  /* outline: none !important; */
}

.sb-container {

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.table-responsive {
  display: table;
}





@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}





@media only screen and (max-width: 768px) {

  .ui.container {

      width: auto;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
  }

  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
      display: block;
  }

  /* .table-responsive td {

      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      white-space: normal;
      text-align: left;
      padding: 5px 10px 5px calc(50% + 10px);

  } */

  .table-responsive td:before {
      content: attr(data-title);
      font-weight: bold;
      padding-right:5px;

  }

  .table-responsive thead {

      /* display:none; */

      position: absolute;
      top: -9999px;
      left: -9999px;
  }

}

@media only screen and (min-width: 1280px) {

  body {
       /* font-size: 1em;  */
       font-size:.9em;
  }

  .form-control-sm, .btn-link {
      font-size: 1em;
  }

  .sb-container {
      width: 80%;
  }

}

@media only screen and (max-width: 1280px) {

  body {
      font-size: 1em;
  }

  .form-control-sm, .btn-link {
      font-size:1em;
  }

  .sb-container {
      width: 100%;
  }

  /* .container {
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
  }     */

/* Force table to not be like tables anymore */
  /* .collapsetable table,.collapsetable thead,.collapsetable tbody,.collapsetable th,.collapsetable td,.collapsetable tr {
  display: block;
} */

/* Hide table headers (but not display: none;, for accessibility) */
/* .collapsetable thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
} */

/* .collapsetable tr { border: 1px solid #ccc; } */

/* .collapsetable td {  */
  /* Behave  like a "row" */
  /* border: none;
  border-bottom: 0px solid #eee;
  position: relative;
  padding-left: 50%;
} */

  /* .table > tbody > tr > td {
      border:none;
  } */


  /* .collapsetable th[data-title]:before,
  .collapsetable td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
  } */

}

@media only screen and (max-width: 1024px) {

  body {
      font-size: 1em;
  }

  .form-control-sm, .btn-link {
      font-size: 1em;
  }

  .sb-container {
      width: 100%;
  }

}

#statusbar {
    background-color: rgb(0, 122, 204, .75);
    color: rgb(255, 255, 255);
    width: 2304px;
    height: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

* {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
  }
  .boxes {
    display: flex;
  }
  .column {
        display: flex;
        flex-direction: column;
  }
  .box {
        display: inline-block;
        background: red;
        margin: 4px;
  }
  .selected.box {
        background: green;
  }
  .tiny.box {
        width: 20px;
        height: 20px;
  }
  .small.box {
        width: 50px;
        height: 50px;
  }
  .normal.box {
        width: 100px;
        height: 100px;
  }
  .big.box {
        width: 150px;
        height: 150px;
  }
  .huge.box {
        width: 200px;
        height: 150px;
  }
  .overlay {
        position:relative;
  }
.selection-rect {
    position: absolute;
    top: 0;
    left: 0;
    background: yellow !important;
    opacity: 0;
    pointer-events: none;
}



.monaco-workbench {
    --vscode-foreground: #cccccc;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-errorForeground: #f48771;
    --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
    --vscode-icon-foreground: #c5c5c5;
    --vscode-focusBorder: #007fd4;
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-textLink-foreground: #3794ff;
    --vscode-textLink-activeForeground: #3794ff;
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-input-background: #3c3c3c;
    --vscode-input-foreground: #cccccc;
    --vscode-inputOption-activeBorder: rgba(0, 122, 204, 0);
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(0, 127, 212, 0.4);
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-input-placeholderForeground: #a6a6a6;
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-dropdown-background: #3c3c3c;
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-dropdown-border: #3c3c3c;
    --vscode-checkbox-background: #3c3c3c;
    --vscode-checkbox-foreground: #f0f0f0;
    --vscode-checkbox-border: #3c3c3c;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #0e639c;
    --vscode-button-hoverBackground: #1177bb;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryBackground: #3a3d41;
    --vscode-button-secondaryHoverBackground: #45494e;
    --vscode-badge-background: #4d4d4d;
    --vscode-badge-foreground: #ffffff;
    --vscode-scrollbar-shadow: #000000;
    --vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --vscode-progressBar-background: #0e70c0;
    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-sash-hoverBorder: #007fd4;
    --vscode-editor-background: #1e1e1e;
    --vscode-editor-foreground: #d4d4d4;
    --vscode-editorStickyScroll-background: #1e1e1e;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorWidget-background: #252526;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-editorWidget-border: #454545;
    --vscode-quickInput-background: #252526;
    --vscode-quickInput-foreground: #cccccc;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-pickerGroup-foreground: #3794ff;
    --vscode-pickerGroup-border: #3f3f46;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-editor-selectionBackground: #264f78;
    --vscode-editor-inactiveSelectionBackground: #3a3d41;
    --vscode-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.15);
    --vscode-editor-findMatchBackground: #515c6a;
    --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editorHoverWidget-background: #252526;
    --vscode-editorHoverWidget-foreground: #cccccc;
    --vscode-editorHoverWidget-border: #454545;
    --vscode-editorHoverWidget-statusBarBackground: #2c2c2d;
    --vscode-editorLink-activeForeground: #4e94ce;
    --vscode-editorInlayHint-foreground: rgba(255, 255, 255, 0.8);
    --vscode-editorInlayHint-background: rgba(77, 77, 77, 0.6);
    --vscode-editorInlayHint-typeForeground: rgba(255, 255, 255, 0.8);
    --vscode-editorInlayHint-typeBackground: rgba(77, 77, 77, 0.6);
    --vscode-editorInlayHint-parameterForeground: rgba(255, 255, 255, 0.8);
    --vscode-editorInlayHint-parameterBackground: rgba(77, 77, 77, 0.6);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
    --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.4);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-list-focusOutline: #007fd4;
    --vscode-list-activeSelectionBackground: #04395e;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-activeSelectionIconForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #37373d;
    --vscode-list-hoverBackground: #2a2d2e;
    --vscode-list-dropBackground: #383b3d;
    --vscode-list-highlightForeground: #2aaaff;
    --vscode-list-focusHighlightForeground: #2aaaff;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #252526;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputList-focusIconForeground: #ffffff;
    --vscode-quickInputList-focusBackground: #04395e;
    --vscode-menu-foreground: #cccccc;
    --vscode-menu-background: #303031;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-selectionBackground: #04395e;
    --vscode-menu-separatorBackground: #606060;
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --vscode-breadcrumb-background: #1e1e1e;
    --vscode-breadcrumb-focusForeground: #e0e0e0;
    --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
    --vscode-breadcrumbPicker-background: #252526;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-selectionHighlight: #264f78;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
    --vscode-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
    --vscode-problemsErrorIcon-foreground: #f14c4c;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-lines: rgba(204, 204, 204, 0.5);
    --vscode-charts-red: #f14c4c;
    --vscode-charts-blue: #3794ff;
    --vscode-charts-yellow: #cca700;
    --vscode-charts-orange: #d18616;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editorCursor-foreground: #aeafad;
    --vscode-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
    --vscode-editorIndentGuide-background: #404040;
    --vscode-editorIndentGuide-activeBackground: #707070;
    --vscode-editorLineNumber-foreground: #858585;
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorLineNumber-activeForeground: #c6c6c6;
    --vscode-editorRuler-foreground: #5a5a5a;
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #888888;
    --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --vscode-editorGutter-background: #1e1e1e;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #cca700;
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #bd9b03;
    --vscode-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
    --vscode-symbolIcon-arrayForeground: #cccccc;
    --vscode-symbolIcon-booleanForeground: #cccccc;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #cccccc;
    --vscode-symbolIcon-constantForeground: #cccccc;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #cccccc;
    --vscode-symbolIcon-folderForeground: #cccccc;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #cccccc;
    --vscode-symbolIcon-keywordForeground: #cccccc;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #cccccc;
    --vscode-symbolIcon-namespaceForeground: #cccccc;
    --vscode-symbolIcon-nullForeground: #cccccc;
    --vscode-symbolIcon-numberForeground: #cccccc;
    --vscode-symbolIcon-objectForeground: #cccccc;
    --vscode-symbolIcon-operatorForeground: #cccccc;
    --vscode-symbolIcon-packageForeground: #cccccc;
    --vscode-symbolIcon-propertyForeground: #cccccc;
    --vscode-symbolIcon-referenceForeground: #cccccc;
    --vscode-symbolIcon-snippetForeground: #cccccc;
    --vscode-symbolIcon-stringForeground: #cccccc;
    --vscode-symbolIcon-structForeground: #cccccc;
    --vscode-symbolIcon-textForeground: #cccccc;
    --vscode-symbolIcon-typeParameterForeground: #cccccc;
    --vscode-symbolIcon-unitForeground: #cccccc;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-editorHoverWidget-highlightForeground: #2aaaff;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-foldBackground: rgba(38, 79, 120, 0.3);
    --vscode-editorGutter-foldingControlForeground: #c5c5c5;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-peekViewTitle-background: rgba(55, 148, 255, 0.1);
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --vscode-peekView-border: #3794ff;
    --vscode-peekViewResult-background: #252526;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: #001f33;
    --vscode-peekViewEditorGutter-background: #001f33;
    --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(255, 143, 0, 0.6);
    --vscode-editorMarkerNavigationError-background: #f14c4c;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #cca700;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigation-background: #1e1e1e;
    --vscode-editorSuggestWidget-background: #252526;
    --vscode-editorSuggestWidget-border: #454545;
    --vscode-editorSuggestWidget-foreground: #d4d4d4;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedIconForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedBackground: #04395e;
    --vscode-editorSuggestWidget-highlightForeground: #2aaaff;
    --vscode-editorSuggestWidget-focusHighlightForeground: #2aaaff;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(212, 212, 212, 0.5);
    --vscode-tab-activeBackground: #1e1e1e;
    --vscode-tab-unfocusedActiveBackground: #1e1e1e;
    --vscode-tab-inactiveBackground: #2d2d2d;
    --vscode-tab-unfocusedInactiveBackground: #2d2d2d;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
    --vscode-tab-border: #252526;
    --vscode-tab-lastPinnedBorder: rgba(204, 204, 204, 0.2);
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-editorPane-background: #1e1e1e;
    --vscode-editorGroupHeader-tabsBackground: #252526;
    --vscode-editorGroupHeader-noTabsBackground: #1e1e1e;
    --vscode-editorGroup-border: #444444;
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroup-dropIntoPromptForeground: #cccccc;
    --vscode-editorGroup-dropIntoPromptBackground: #252526;
    --vscode-sideBySideEditor-horizontalBorder: #444444;
    --vscode-sideBySideEditor-verticalBorder: #444444;
    --vscode-panel-background: #1e1e1e;
    --vscode-panel-border: rgba(128, 128, 128, 0.35);
    --vscode-panelTitle-activeForeground: #e7e7e7;
    --vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-panelTitle-activeBorder: #e7e7e7;
    --vscode-panel-dropBorder: #e7e7e7;
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
    --vscode-banner-background: #04395e;
    --vscode-banner-foreground: #ffffff;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #ffffff;
    --vscode-statusBar-noFolderForeground: #ffffff;
    --vscode-statusBar-background: #007acc;
    --vscode-statusBar-noFolderBackground: #68217a;
    --vscode-statusBar-focusBorder: #ffffff;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-focusBorder: #ffffff;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-activityBar-background: #333333;
    --vscode-activityBar-foreground: #ffffff;
    --vscode-activityBar-inactiveForeground: rgba(255, 255, 255, 0.4);
    --vscode-activityBar-activeBorder: #ffffff;
    --vscode-activityBar-dropBorder: #ffffff;
    --vscode-activityBarBadge-background: #007acc;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #16825d;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-extensionBadge-remoteBackground: #007acc;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-sideBar-background: #252526;
    --vscode-sideBarTitle-foreground: #bbbbbb;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBarSectionHeader-background: rgba(0, 0, 0, 0);
    --vscode-sideBarSectionHeader-border: rgba(204, 204, 204, 0.2);
    --vscode-titleBar-activeForeground: #cccccc;
    --vscode-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
    --vscode-titleBar-activeBackground: #3c3c3c;
    --vscode-titleBar-inactiveBackground: rgba(60, 60, 60, 0.6);
    --vscode-menubar-selectionForeground: #cccccc;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-notifications-foreground: #cccccc;
    --vscode-notifications-background: #252526;
    --vscode-notificationLink-foreground: #3794ff;
    --vscode-notificationCenterHeader-background: #303031;
    --vscode-notifications-border: #303031;
    --vscode-notificationsErrorIcon-foreground: #f14c4c;
    --vscode-notificationsWarningIcon-foreground: #cca700;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-commandCenter-foreground: #cccccc;
    --vscode-commandCenter-activeForeground: #cccccc;
    --vscode-commandCenter-activeBackground: rgba(90, 93, 94, 0.31);
    --vscode-commandCenter-border: rgba(128, 128, 128, 0.35);
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #3794ff;
    --vscode-editorCommentsWidget-rangeBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorCommentsWidget-rangeBorder: rgba(55, 148, 255, 0.4);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorCommentsWidget-rangeActiveBorder: rgba(55, 148, 255, 0.4);
    --vscode-editorGutter-commentRangeForeground: #c5c5c5;
    --vscode-debugToolBar-background: #333333;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(155, 185, 85, 0.12);
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-settings-headerForeground: #e7e7e7;
    --vscode-settings-modifiedItemIndicator: #0c7d9d;
    --vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
    --vscode-settings-sashBorder: rgba(128, 128, 128, 0.35);
    --vscode-settings-dropdownBackground: #3c3c3c;
    --vscode-settings-dropdownForeground: #f0f0f0;
    --vscode-settings-dropdownBorder: #3c3c3c;
    --vscode-settings-dropdownListBorder: #454545;
    --vscode-settings-checkboxBackground: #3c3c3c;
    --vscode-settings-checkboxForeground: #f0f0f0;
    --vscode-settings-checkboxBorder: #3c3c3c;
    --vscode-settings-textInputBackground: #3c3c3c;
    --vscode-settings-textInputForeground: #cccccc;
    --vscode-settings-numberInputBackground: #3c3c3c;
    --vscode-settings-numberInputForeground: #cccccc;
    --vscode-settings-focusedRowBackground: rgba(42, 45, 46, 0.6);
    --vscode-settings-rowHoverBackground: rgba(42, 45, 46, 0.3);
    --vscode-settings-focusedRowBorder: rgba(255, 255, 255, 0.12);
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminal-selectionBackground: #264f78;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: rgba(128, 128, 128, 0.35);
    --vscode-terminal-findMatchBackground: #515c6a;
    --vscode-terminal-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #f14c4c;
    --vscode-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
    --vscode-testing-message-error-decorationForeground: #f14c4c;
    --vscode-testing-message-error-lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message-info-decorationForeground: rgba(212, 212, 212, 0.5);
    --vscode-welcomePage-tileBackground: #252526;
    --vscode-welcomePage-tileHoverBackground: #2c2c2d;
    --vscode-welcomePage-tileShadow: rgba(0, 0, 0, 0.36);
    --vscode-welcomePage-progress-background: #3c3c3c;
    --vscode-welcomePage-progress-foreground: #3794ff;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-ports-iconRunningProcessForeground: #369432;
    --vscode-statusBar-debuggingBackground: #cc6633;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editorGutter-modifiedBackground: #1b81a8;
    --vscode-editorGutter-addedBackground: #487e02;
    --vscode-editorGutter-deletedBackground: #f14c4c;
    --vscode-minimapGutter-modifiedBackground: #1b81a8;
    --vscode-minimapGutter-addedBackground: #487e02;
    --vscode-minimapGutter-deletedBackground: #f14c4c;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
    --vscode-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(241, 76, 76, 0.6);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-notebook-cellBorderColor: #37373d;
    --vscode-notebook-focusedEditorBorder: #007fd4;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #f48771;
    --vscode-notebookStatusRunningIcon-foreground: #cccccc;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #37373d;
    --vscode-notebook-selectedCellBorder: #37373d;
    --vscode-notebook-focusedCellBorder: #007fd4;
    --vscode-notebook-inactiveFocusedCellBorder: #37373d;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: #007fd4;
    --vscode-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #252526;
    --vscode-notebook-editorBackground: #1e1e1e;
    --vscode-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-scm-providerBorder: #454545;
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #cccccc;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #cccccc;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #3794ff;
    --vscode-debugConsole-warningForeground: #cca700;
    --vscode-debugConsole-errorForeground: #f48771;
    --vscode-debugConsole-sourceForeground: #cccccc;
    --vscode-debugConsoleInputIcon-foreground: #cccccc;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-extensionButton-prominentBackground: #0e639c;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #1177bb;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #3794ff;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiGreen: #0dbc79;
    --vscode-terminal-ansiYellow: #e5e510;
    --vscode-terminal-ansiBlue: #2472c8;
    --vscode-terminal-ansiMagenta: #bc3fbc;
    --vscode-terminal-ansiCyan: #11a8cd;
    --vscode-terminal-ansiWhite: #e5e5e5;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightRed: #f14c4c;
    --vscode-terminal-ansiBrightGreen: #23d18b;
    --vscode-terminal-ansiBrightYellow: #f5f543;
    --vscode-terminal-ansiBrightBlue: #3b8eea;
    --vscode-terminal-ansiBrightMagenta: #d670d6;
    --vscode-terminal-ansiBrightCyan: #29b8db;
    --vscode-terminal-ansiBrightWhite: #e5e5e5;
    --vscode-interactive-activeCodeBorder: #3794ff;
    --vscode-interactive-inactiveCodeBorder: #37373d;
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-deletedResourceForeground: #c74e39;
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: #73c991;
    --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-conflictingResourceForeground: #e4676b;
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
}



/* STYLES FROM VSCODE STATUS BAR */
/* --code-toolbarHoverBackground: rgba(90, 93, 94, 0.31);
--code-notifications-border: #303031;
--code-language-status-color2: #3794ff;
--code-language-status-color3: #f14c4c;
--notebook-focused-cell-border-color: #007fd4;
--notebook-inactive-focused-cell-border-color: #37373d;
--notebook-selected-cell-border-color: #37373d;
--sash-size: 4px;
--sash-hover-size: 4px;
-webkit-user-select: none;
font-family: system-ui,Ubuntu,Droid Sans,sans-serif;
--monaco-monospace-font: "Ubuntu Mono","Liberation Mono","DejaVu Sans Mono","Courier New",monospace;
line-height: 1.4em;
forced-color-adjust: none;
white-space: normal;
--z-index-notebook-progress-bar: 5;
--z-index-notebook-list-insertion-indicator: 10;
--z-index-notebook-cell-editor-outline: 20;
--z-index-notebook-scrollbar: 25;
--z-index-notebook-cell-status: 26;
--z-index-notebook-cell-drag-handle: 26;
--z-index-notebook-folding-indicator: 26;
--z-index-notebook-output: 27;
--z-index-notebook-cell-bottom-toolbar-container: 28;
--z-index-notebook-run-button-container: 29;
--z-index-notebook-input-collapse-condicon: 29;
--z-index-notebook-cell-output-toolbar: 30;
--z-index-notebook-cell-toolbar: 36;
box-sizing: border-box;
cursor: default;
font-size: 12px;
display: flex;
overflow: visible;
background-color: rgb(0, 122, 204);
color: rgb(255, 255, 255);
width: 2304px;
height: 22px; */